.addnft1 {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;

        .nft-cont {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(4px);
            border-radius: 4px;
            margin-top: 81px;
            margin-bottom: 81px;

            margin-left: 82px;
            margin-right: 107px;

            .arrow-x {
                display: flex;
                justify-content: space-between;

                .arrow-box {
                    display: flex;
                    padding: 39px 0 0 49px;

                    .arrow {
                        margin-right: 10px;

                        img {
                            width: 28px;
                            transform: rotate(180deg);
                            filter: invert(1);
                        }
                    }

                    .text {
                        color: #FFFFFF;
                        font-family: $clash;
                        font-size: 14px;
                        line-height: 189%;
                        letter-spacing: 0.105em;
                        font-weight: 400;
                    }
                }

                .close-x {
                    padding-top: 20px;
                    margin-right: 43px;
                    color: #FFF;
                    font-size: 40px;
                    font-family: $clash;
                }
            }

            .title {
                font-family: $clash;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;

                letter-spacing: 0.105em;
                color: #FFFFFF;
                padding-top: 36px;
                padding-left: 89px;
            }

            .step1 {

                .title-mob {
                    display: none;
                    font-family: $clash;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    padding-top: 36px;
                    padding-left: 89px;
                }

                .flex-info {
                    display: flex;
                    padding-top: 55px;
                    padding-left: 89px;
                    padding-right: 65px;
                    //}
                    .video-box {
                        position: relative;
                        display: inline;

                        .video {
                            position: relative;

                            img {
                                width: 530px;
                                height: 530px;
                            }

                            .move {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                display: flex;
                            }
                        }
                    }

                    .info-box {
                        display: flex;
                        flex-direction: column;
                        padding-left: 100px;

                        .step {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            text-transform: uppercase;
                        }

                        .description {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            padding-top: 45px;
                            padding-right: 50px;
                        }

                        .requrements {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            padding-top: 22px;
                        }

                        .actions {
                            padding-top: 78px;

                            button {
                                width: 190px;
                                height: 56px;
                                padding: 5px 20px;
                                font-size: 24px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                text-transform: uppercase;
                                font-family: $clash;
                                border: 0;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }

                    }

                    .video-box-mobile {
                        position: relative;
                        display: none;

                        .video {
                            position: relative;

                            img {
                                width: 530px;
                                height: 530px;
                            }

                            .move {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                display: flex;
                            }
                        }
                    }
                }
            }

            .step2 {
                display: none;

                .step2-content {
                    display: flex;
                    justify-content: space-between;

                    .left {
                        display: block;
                        width: 100%;

                        .video-box {
                            position: relative;
                            margin-top: 56px;
                            margin-left: 89px;

                            .video {
                                position: relative;

                                img {
                                    width: 530px;
                                    height: 530px;
                                }

                                .move {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    display: block;
                                    text-align: center;

                                    .actions {
                                        padding-top: 78px;

                                        button {
                                            width: 190px;
                                            height: 56px;
                                            padding: 5px 20px;
                                            font-size: 24px;

                                            letter-spacing: 0.105em;
                                            color: #FFFFFF;
                                            background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                            text-transform: uppercase;
                                            font-family: $clash;
                                            border: 0;
                                            border-radius: 5px;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .right {
                        width: 100%;
                        padding-top: 56px;

                        .margin {
                            margin-left: 94px;
                        }

                        .title-step {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                        }

                        .description {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 45px;
                            margin-right: 50px;
                        }

                        .actions {
                            padding-top: 78px;
                            display: none;

                            button {
                                width: 190px;
                                height: 56px;
                                padding: 5px 20px;
                                font-size: 24px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                text-transform: uppercase;
                                font-family: $clash;
                                border: 0;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }

                        .requrements {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 45px;
                        }

                        .requrements2 {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 23px;
                        }

                        .input {
                            display: flex;
                            border: 1px solid #a99cde;
                            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                            border-image-slice: 1;
                            padding: 16px 20px;
                            width: 80%;
                            margin-bottom: 16px;
                            font-family: $montserrat;
                            color: #FFFFFF;
                            margin-top: 15px;

                            textarea {
                                background: transparent;
                                border: none;
                                width: 100%;
                                color: white;
                                resize: none;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;

                                letter-spacing: 0.105em;
                            }
                        }
                    }
                }
            }

            .step3 {
                display: none;

                .block {
                    display: flex;
                    width: 100%;

                    .center {
                        margin: auto;

                        .title-step {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 85px;
                        }

                        .description {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 23px;
                        }

                        .box {
                            margin-top: 25px;

                            .soc-line {
                                display: flex;

                                img {
                                    width: 30px;
                                    height: 30px;
                                    margin-right: 17px;
                                }

                                .input_soc {
                                    width: 320px;
                                    height: 29px;

                                    display: flex;
                                    border: 1px solid #a99cde;
                                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                                    border-image-slice: 1;
                                    padding: 0 11px;
                                    //width: 100%;
                                    margin-bottom: 16px;
                                    font-family: $montserrat;
                                    color: #FFFFFF;

                                    &.second_inp {
                                        margin-bottom: 0;
                                    }

                                    input {
                                        background: transparent;
                                        border: none;
                                        width: 100%;
                                        color: white;

                                        font-family: $montserrat;
                                        font-style: normal;
                                        font-weight: normal;
                                        font-size: 16px;

                                        letter-spacing: 0.105em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .step4 {
                display: none;

                .block {
                    display: flex;
                    width: 100%;

                    .box {
                        margin: auto;

                        .title-step {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 85px;
                        }


                        .description {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 24px;
                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            margin-top: 23px;
                            display: block;
                            width: 100%;

                            .cols-box {
                                display: flex;
                                margin-left: 40px;
                                justify-content: center;

                                .price-box-cash {
                                    display: block;
                                    margin: auto 0;

                                    .flex-box {
                                        display: flex;

                                        .minus {
                                            color: #FFFFFF;
                                            font-size: 30px;
                                            line-height: 18px;
                                            margin-right: 15px;
                                            font-weight: bolder;
                                            cursor: pointer;
                                            margin: auto 15px;
                                        }

                                        .input {
                                            margin-right: 14px;

                                            input {
                                                width: 40px;
                                                height: 25px;
                                                font-family: $montserrat;
                                                font-style: normal;
                                                font-weight: 500;
                                                font-size: 16px;
                                                line-height: 139%;
                                                letter-spacing: 0.105em;
                                                background: #FFFFFF;
                                                border: 0;
                                                color: #BBBBBB;
                                                text-align: center;
                                            }
                                        }

                                        .plus {
                                            color: #FFFFFF;
                                            font-size: 30px;
                                            line-height: 24px;
                                            font-weight: bolder;
                                            cursor: pointer;
                                            margin-top: 5px;
                                        }
                                    }
                                }
                            }
                        }

                        .first-box {
                            display: flex;
                            margin-top: 51px;

                            .information {
                                border-radius: 100%;
                                width: 22px;
                                height: 22px;
                                position: relative;
                                margin: auto 0;
                                //margin-right: 20px;
                                //margin-left: 100px;
                                margin-right: 24px;

                                &.active {
                                    background: url("/images/accept.png"), linear-gradient(
                                            180deg, #C094DC 0%, #63B5E4 100%);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }

                            .information::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 100%;
                                padding: 2px;
                                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                            }

                            .price-input {
                                margin-right: 32px;

                                input {
                                    width: 122px;
                                    height: 42px;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 139%;
                                    letter-spacing: 0.105em;
                                    background: #FFFFFF;
                                    border: 0;
                                    padding-left: 12px;
                                    padding-right: 12px;
                                    text-align: center;
                                }

                                input::placeholder {
                                    color: #BBBBBB;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    //line-height: 139%;
                                    //letter-spacing: 0.105em;
                                    background: #FFFFFF;
                                    text-align: left;
                                }
                            }

                            .button-currencies {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 139%;
                                display: block;
                                align-items: center;
                                letter-spacing: 0.105em;
                                background: #FFFFFF;
                                padding: 11px 5px 9px 5px;
                                color: #BBBBBB;

                                .button-text {
                                    cursor: pointer;
                                }
                            }

                            .button-currencies-list {
                                display: none;
                                position: absolute;
                                background: white;
                                z-index: 1;
                                font-family: $montserrat;
                                font-weight: 400;
                                line-height: 139%;
                                width: 100%;
                                font-size: 16px;
                                letter-spacing: 0.105em;
                                top: 0;
                                left: 0;
                                padding: 12px 0 0 6px;

                                li {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 139%;
                                    letter-spacing: 0.105em;
                                    color: #BBBBBB;
                                    padding-bottom: 8px;
                                    padding-top: 8px;
                                }

                                .color_b2 {
                                    color: #000056;
                                    padding-left: 8px;
                                }
                                .color_b3 {
                                    color: #000056;
                                    padding-left: 8px;
                                }

                                .line-63B5E4 {
                                    border: 1px solid #63B5E4;
                                    margin-right: 12px;
                                    margin-left: 6px;
                                }
                            }
                        }

                        .second-box {
                            display: flex;
                            margin-top: 51px;

                            .information {
                                border-radius: 100%;
                                width: 22px;
                                height: 22px;
                                position: relative;
                                margin: auto 0;
                                //margin-right: 20px;
                                //margin-left: 100px;
                                margin-right: 24px;

                                &.active {
                                    background: url("/images/accept.png"), linear-gradient(
                                            180deg, #C094DC 0%, #63B5E4 100%);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }

                            .information::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 100%;
                                padding: 2px;
                                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                            }

                            .block-box {
                                display: block;
                                margin-left: 24px;

                                .title-bmp {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 24px;
                                    line-height: 139%;
                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                    margin-bottom: 15px;
                                }

                                .flex-box-curr {
                                    display: flex;

                                    .price-input {
                                        margin-right: 32px;

                                        input {
                                            width: 122px;
                                            height: 42px;
                                            font-family: $montserrat;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 139%;
                                            letter-spacing: 0.105em;
                                            background: #FFFFFF;
                                            border: 0;
                                            padding-left: 12px;
                                            padding-right: 12px;
                                            text-align: center;
                                        }

                                        input::placeholder {
                                            color: #BBBBBB;
                                            font-family: $montserrat;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            //line-height: 139%;
                                            //letter-spacing: 0.105em;
                                            background: #FFFFFF;
                                            text-align: left;
                                        }
                                    }

                                    .button-currencies2 {
                                        font-family: $montserrat;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 139%;
                                        display: block;
                                        align-items: center;
                                        letter-spacing: 0.105em;
                                        background: #FFFFFF;
                                        padding: 11px 5px 9px 5px;
                                        color: #BBBBBB;

                                        .button-text {
                                            cursor: pointer;
                                        }
                                    }

                                    .button-currencies-list2 {
                                        display: none;
                                        position: absolute;
                                        background: white;
                                        z-index: 1;
                                        font-family: $montserrat;
                                        font-weight: 400;
                                        line-height: 139%;
                                        width: 100%;
                                        font-size: 16px;
                                        letter-spacing: 0.105em;
                                        top: 0;
                                        left: 0;
                                        padding: 12px 0 0 6px;

                                        li {
                                            font-family: $montserrat;
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 15px;
                                            line-height: 139%;
                                            letter-spacing: 0.105em;
                                            color: #BBBBBB;
                                            padding-bottom: 8px;
                                            padding-top: 8px;
                                        }

                                        .color_b {
                                            color: #000056;
                                            padding-left: 8px;
                                        }

                                        .line-63B5E4 {
                                            border: 1px solid #63B5E4;
                                            margin-right: 12px;
                                            margin-left: 6px;
                                        }
                                    }
                                }
                            }
                        }

                        .lineenteryour {
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            margin-top: 52px;

                            .line1 {
                                border-bottom: 1px solid #63B5E4;
                                width: 139px;
                            }

                            .entertext {
                                text-align: center;
                                margin: 12px 2px 0 15px;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 2px;
                                letter-spacing: 0.12em;
                                color: #FFFFFF;
                            }

                            .questmark {
                                border-radius: 100%;
                                width: 15px;
                                height: 15px;
                                position: relative;
                                margin: auto 0;
                                //margin-right: 20px;
                                //margin-left: 100px;
                                margin-right: 13px;
                                text-align: center;
                                color: #FFFFFF;
                                padding-top: 2px;
                                font-family: $montserrat;
                                font-size: 9px;

                                &.active {
                                    background: url("/images/accept.png"), linear-gradient(
                                            180deg, #C094DC 0%, #63B5E4 100%);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }

                            .questmark::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 100%;
                                padding: 2px;
                                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                            }

                            .quest-text {
                                display: none;
                                background: rgba(114, 112, 112, 0.8);
                                border-radius: 1px;
                                padding: 10px 16px;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 139%;
                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                position: absolute;
                                width: 410px;
                                text-align: left;
                                top: 0;
                                left: 20px;
                            }

                            .line2 {
                                border-bottom: 1px solid #63B5E4;
                                width: 139px;
                            }
                        }

                        .bottom-box {
                            display: flex;
                            margin-top: 44px;

                            .procent-box {
                                display: flex;
                                justify-content: space-around;
                                width: 100%;

                                .procent {
                                    display: flex;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 139%;
                                    letter-spacing: 0.12em;
                                    color: #FFFFFF;

                                    .information {
                                        border-radius: 100%;
                                        width: 22px;
                                        height: 22px;
                                        position: relative;
                                        margin: auto 0;
                                        //margin-right: 20px;
                                        //margin-left: 100px;
                                        margin-right: 14px;

                                        &.active {
                                            background: url("/images/accept.png"), linear-gradient(
                                                    180deg, #C094DC 0%, #63B5E4 100%);
                                            background-repeat: no-repeat;
                                            background-position: center;
                                        }
                                    }

                                    .information::before {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        border-radius: 100%;
                                        padding: 2px;
                                        background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                        -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                        linear-gradient(#fff 0 0);
                                        -webkit-mask-composite: destination-out;
                                        mask-composite: exclude;
                                    }
                                }
                            }
                        }

                        .bottom-text {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 139%;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;
                            margin-top: 44px;
                            text-align: center;
                        }

                    }
                }
            }

            .step5 {
                display: none;

                .content-container {
                    width: 100%;
                    margin-top: 61px;

                    .content-box {
                        display: flex;
                        //padding-bottom: 61px;
                        .title-step-m {
                            display: none;
                        }

                        .left {
                            display: flex;
                            width: 100%;
                            margin-left: 38px;

                            .block-img {
                                li {
                                    text-align: center;
                                    margin-bottom: 40px;

                                    border-bottom: 5px solid transparent;
                                    padding-bottom: 2px;

                                    &:hover {
                                        border-bottom: 5px solid #a99cde;
                                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                                        border-image-slice: 1;
                                        //padding-bottom: 9px;
                                    }
                                }

                                li.selected {
                                    border-bottom: 5px solid #a99cde;
                                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                                    border-image-slice: 1;
                                }

                                img {
                                    width: 120px;
                                    //height: 120px;
                                }
                            }

                            .cube {
                                margin: 110px 0 0 96px;

                                #wrapD3Cube {
                                    width: 350px;
                                    height: 313px;
                                    margin: 20px auto;
                                    //background-color: #EEE;
                                }

                                #D3Cube {
                                    width: 232px;
                                    height: 232px;
                                    top: 50px;
                                    transform-style: preserve-3d;
                                    -moz-transform-style: preserve-3d;
                                    //-webkit-transform-style: preserve-3d;
                                    // transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                                    -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                                    // -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                                    margin: auto;
                                    position: relative;
                                    -moz-transform-style: preserve-3d;
                                    transform-style: preserve-3d;
                                    -webkit-transition: all 0.5s ease-in-out;
                                    transition: all 0.5s ease-in-out;

                                    transform: rotateX(
                                            -22deg) rotateY(
                                            142deg) rotateZ(
                                            4590deg) translateX(0px) translateY(0px) translateZ(0px);
                                }

                                #D3Cube > div {
                                    position: absolute;
                                    -webkit-transition: all 0.5s ease-in-out;
                                    transition: all 0.5s ease-in-out;
                                    width: 232px;
                                    height: 232px;
                                    float: left;
                                    overflow: hidden;
                                    opacity: 1;


                                }

                                #side1 {
                                    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    background-color: #FFF;
                                    //background-image: url('/images/explore1.png');
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                }

                                #side2 {
                                    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                }

                                #side3 {
                                    transform: translateX(0px) translateY(0px) translateZ(116px);
                                    -moz-transform: translateX(0px) translateY(0px) translateZ(116px);
                                    -webkit-transform: translateX(0px) translateY(0px) translateZ(116px);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                }

                                #side4 {
                                    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                }

                                #side5 {
                                    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                }

                                #side6 {
                                    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                }
                            }
                        }

                        .right {
                            width: 100%;
                            margin-top: 14px;
                            //margin-right: 32px;
                            .margin {
                                margin-left: 63px;
                            }

                            .title-step {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                            }

                            .description {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 24px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                margin-top: 45px;
                                margin-right: 50px;
                            }

                            .description2 {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                margin-top: 45px;
                                margin-right: 50px;
                            }

                            .actions {
                                padding-top: 71px;

                                button {
                                    width: 190px;
                                    height: 56px;
                                    padding: 5px 20px;
                                    font-size: 24px;

                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                    text-transform: uppercase;
                                    font-family: $clash;
                                    border: 0;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .cord {
                .pagination-step {
                    display: flex;
                    padding-bottom: 59px;
                    margin-top: 44px;
                    justify-content: center;

                    li {
                        width: 30px;
                        height: 30px;
                        background: #FFFFFF;
                        margin-right: 15px;
                        padding-top: 4px;
                        text-align: center;
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        cursor: pointer;
                        letter-spacing: 0.105em;
                        color: #606266;

                        &.second {
                            margin-right: 0;
                        }
                    }

                    li.select {
                        background: linear-gradient(180deg, #C094DC 0%, #63B5E4 100%), linear-gradient(0deg, #F0F2F5, #F0F2F5), #F0F2F5;
                        border-radius: 1px;
                        width: 30px;
                        height: 30px;
                        margin-right: 15px;
                        padding-top: 4px;
                        text-align: center;

                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                    }
                }
            }

            @media(max-width: 1200px) {
                border-radius: 18px;
                .arrow-x {
                    display: none;
                }
                .title {
                    display: none;
                }

                .step1 {
                    .title-mob {
                        display: block;
                    }

                    .flex-info {
                        padding-bottom: 86px;
                        display: block;

                        .video-box {
                            display: none;
                        }

                        .info-box {
                            padding-left: unset;
                            flex-direction: unset;
                            display: block;

                            .actions {
                                margin-bottom: 50px;
                                text-align: center;
                            }

                            .video-box-mobile {
                                display: flex;
                                justify-content: center;

                                .video {
                                    img {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                }
                .step2 {
                    .step2-content {
                        display: block;

                        .left {
                            .title {
                                display: none;
                            }

                            .video-box {
                                display: none;
                            }
                        }

                        .right {
                            padding-top: 0;

                            .title-step {
                                padding-top: 28px;
                            }

                            .description {
                                padding-right: 130px;
                            }

                            .actions {
                                padding-top: 65px;
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                }
                .step5 {
                    .content-container {
                        .content-box {
                            display: block;
                            padding: 0 17px 50px 17px;
                            .left {
                                display: flex;
                                width: 100%;
                                flex-direction: column-reverse;
                                margin-left: unset;

                                .block-img {
                                    display: flex;
                                    justify-content: space-between;
                                }

                                .cube {
                                    margin: 50px auto;
                                }
                            }
                        }
                    }
                }
                .pagination-step {
                    justify-content: center;
                }
            }
            @media (max-width: 992px) {
                margin-left: 15px;
                margin-right: 15px;
                .step3 {
                    .block {
                        .left {
                            width: 0;
                        }

                        .center {
                            margin-left: 20px;

                            .title-step {
                                margin-top: 28px;
                            }
                        }
                    }
                }
                .step4 {
                    .block {
                        .box {
                            .lineenteryour {
                                .questmark {
                                    .quest-text {
                                        width: 200px;
                                        left: unset;
                                    }
                                }
                            }
                        }
                    }
                }
                .step5 {
                    .content-container {
                        .content-box {
                            .left {
                                .block-img li {
                                    img {
                                        width: 54px;
                                        height: 54px;
                                    }
                                }
                            }

                            .right {
                                .timercash {
                                    display: block;

                                    .second {
                                        display: flex;

                                        .current {
                                            font-size: 16px;
                                            margin-right: 25px;
                                        }

                                        .price {
                                            margin-top: unset;
                                            font-size: 18px;
                                            font-weight: 700;
                                        }
                                    }

                                    .second-right {
                                        display: flex;
                                        margin-left: unset;

                                        .current {
                                            font-size: 16px;
                                            margin-right: 25px;
                                        }

                                        .price {
                                            margin-top: unset;
                                            font-size: 18px;
                                            font-weight: 700;
                                        }
                                    }
                                }

                                .quantity-box {
                                    .cols-box {
                                        .price-box-cash {
                                            .price-cash {
                                                display: block;

                                                .actions {
                                                    margin-left: unset;
                                                    margin-top: 54px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 576px) {
                margin-top: 43px;
                .step1 {
                    .title-mob {
                        padding-left: 17px;
                    }

                    .flex-info {
                        padding-left: 17px;
                        padding-right: 17px;

                        .info-box {
                            .description {
                                font-size: 18px;
                            }

                            .requrements {
                                font-size: 16px;
                            }

                            .actions {
                                button {
                                    width: 188px;
                                    height: 39px;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                .step2 {
                    .step2-content {
                        padding-left: 17px;
                        padding-right: 17px;

                        .right {
                            margin-left: 0;

                            .margin {
                                margin-left: 0;
                            }

                            .description {
                                font-size: 18px;
                                padding-right: 0;
                                margin-right: 0;
                            }

                            .input {
                                width: 100%;
                            }

                            .requrements {
                                margin-top: 65px;
                                font-size: 18px;
                            }

                            .requrements2 {
                                font-size: 18px;
                            }
                        }
                    }
                }
                .step3 {
                    .block {
                        .center {
                            .title-step {
                                font-size: 24px;
                            }

                            .description {
                                font-size: 18px;
                            }

                            .box {
                                .soc-line {
                                    .input_soc {
                                        width: 100%;
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
                .step4 {
                    .block {
                        .box {
                            .title-step {
                                margin-top: 24px;
                                margin-left: 17px;
                            }

                            .description {
                                margin-left: 17px;

                                .cols-box {
                                    margin-left: unset;
                                    justify-content: unset;
                                    margin-top: 18px;
                                }
                            }

                            .first-box {
                                margin-left: 17px;
                                margin-right: 17px;

                                .price-input {
                                    input {
                                        width: 104px;
                                        height: 39px;
                                        font-weight: 400;
                                        letter-spacing: unset;
                                        padding-left: 8px;
                                        padding-right: 8px;
                                    }
                                }

                                .button-currencies {
                                    width: 126px;
                                    height: 39px;
                                    font-weight: 400;
                                    letter-spacing: unset;
                                }
                            }

                            .lineenteryour {
                                .line1 {
                                    width: 73px;
                                }

                                .line2 {
                                    width: 73px;
                                }

                                .questmark {
                                    .quest-text {
                                        right: 0;
                                    }
                                }
                            }

                            .second-box {
                                margin-right: 17px;
                                margin-left: 17px;

                                .block-box {
                                    .flex-box-curr {
                                        .price-input {
                                            input {
                                                width: 104px;
                                                height: 39px;
                                                font-weight: 400;
                                                letter-spacing: unset;
                                                padding-left: 8px;
                                                padding-right: 8px;
                                            }
                                        }

                                        .button-currencies2 {
                                            width: 126px;
                                            height: 39px;
                                            font-weight: 400;
                                            letter-spacing: unset;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .step5 {
                    .content-container {
                        margin-top: unset;

                        .content-box {
                            padding-bottom: 34px;
                            .title-step-m {
                                display: block;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                padding-top: 27px;
                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                            }
                            .left {
                                .cube {
                                    #wrapD3Cube {
                                        width: 300px;
                                        height: 263px;
                                        margin: unset;
                                    }

                                    #D3Cube {
                                        width: 182px;
                                        height: 182px;

                                        div {
                                            width: 182px;
                                            height: 182px;
                                        }
                                    }

                                    #side1 {
                                        transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                    }

                                    #side2 {
                                        transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                    }

                                    #side3 {
                                        transform: translateX(0px) translateY(0px) translateZ(91px);
                                        -moz-transform: translateX(0px) translateY(0px) translateZ(91px);
                                        -webkit-transform: translateX(0px) translateY(0px) translateZ(91px);
                                    }

                                    #side4 {
                                        transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                    }

                                    #side5 {
                                        transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                    }

                                    #side6 {
                                        transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                        -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                    }
                                }

                                .block-img {
                                    li {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            .right {
                                .margin {
                                    margin-left: unset;
                                    .title-step {
                                        display: none;
                                    }
                                    .description {
                                        margin-right: unset;
                                        font-size: 18px;
                                    }
                                    .description2 {
                                        margin-right: unset;
                                        font-size: 16px;
                                    }
                                }

                                .actions {
                                    padding-top: 57px;
                                    text-align: center;
                                }
                            }

                        }
                    }
                }
                .pagination-step {
                    margin-right: 0;
                }
            }

        }


        .modal_header {
            display: flex;
            justify-content: end;
        }
        .modaladdnft {
            display: none;
        }

        .close {
            margin-right: 63px;
            font-size: 50px;
            font-family: $clash;
        }
        .close:hover,
        .close:focus {
            color: #6b7280;
            text-decoration: none;
            cursor: pointer;
        }

        .modalnft-content {
            background: #FFFFFF;
            backdrop-filter: blur(4px);
            border-radius: 30px;



            .modal-title {
                margin-left: 128px;
                padding-top: 63px;

                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 139%;
                letter-spacing: 0.105em;
                color: #000000;
            }

            .modal-description {
                margin-left: 128px;
                padding-top: 42px;
                margin-right: 60px;

                font-family: $montserrat;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 139%;
                letter-spacing: 0.105em;
                color: #000000;
            }

            .button-linebox {
                padding-bottom: 63px;
                padding-top: 80px;
                display: flex;
                justify-content: right;
                margin-right: 124px;

                .keep {
                    margin: auto 32px;

                    button {
                        padding: 7px 8px 5px 6px;
                        font-weight: 600;
                        font-size: 24px;
                        width: 100%;
                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $montserrat;
                        border: 0;
                        border-radius: 1px;
                        background: rgba(255, 255, 255, 0.0);
                        display: flex;
                        cursor: pointer;

                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        .edit-text {
                            margin: auto;
                            text-transform: uppercase;
                        }
                    }
                }

                .actions {
                    button {
                        width: 159px;
                        height: 56px;
                        padding: 5px 20px;
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        border-radius: 1px;
                        cursor: pointer;
                    }
                }
            }
        }
        @media(max-width: 992px) {

        }
        @media(max-width: 768px) {
            .close {
                display: none;
            }
            .modalnft-content {
                .modal-title {
                    margin-left: 24px;
                    padding-top: 19px;
                }
                .modal-description {
                    margin-left: 24px;
                    font-size: 14px;
                }
                .button-linebox {
                    //display: block;
                    justify-content: center;
                    margin-right: unset;
                    flex-wrap: wrap;
                    padding-bottom: 17px;
                    .keep {
                        order: 1;
                        padding-top: 13px;
                    }
                    .actions {
                        order: 0;
                        width: 100%;
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
