@import "variables";

@import "fonts";
@import "login";
@import "restore";
@import "registration";
@import "emailverify";
@import "refillwallet";
@import "profileedit";
@import "header";
@import "footer";
@import "explore";
@import "addnft1";
@import "profilesubscribers";
@import "profilesubscriptions";
@import "profilefinance";
@import "profilefinancewithdrawal";
@import "profileauction";
@import "profilebids";
@import "yournft";
@import "yourtokens";
@import "profilenotifications";
@import "notifications";
@import "home";
@import "buyitnow";
@import "placeabid";
@import "modal";

*:focus {
    outline: none !important;
}

* {
    box-sizing: border-box;
}

.hide_arrow {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }
}

input {
    -webkit-background-clip: text;
}

body {
    margin: 0;
    background: #2e3044;
    display: flex;
    flex-direction: column;
    height: 100%;
}

