.buyitnow {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        margin-bottom: 50px;

    .content-container {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(4px);
        border-radius: 4px;
        width: 100%;
        margin: 65px 109px 59px 82px;
        .content-box {
            display: flex;
            .left {
                display: flex;
                width: 100%;
                margin-left: 32px;

                .block-img {
                    li {
                        text-align: center;
                        margin-bottom: 40px;

                        border-bottom: 5px solid transparent;
                        padding-bottom: 2px;;

                        &:hover {
                            border-bottom: 5px solid #a99cde;
                            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                            border-image-slice: 1;
                            //padding-bottom: 9px;
                        }
                    }

                    li.selected {
                        border-bottom: 5px solid #a99cde;
                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                        border-image-slice: 1;
                    }
                }

                .cube {
                    margin: 200px auto;

                    #wrapD3Cube {
                        width: 350px;
                        height: 313px;
                        margin: 20px auto;
                        //background-color: #EEE;
                    }

                    #D3Cube {
                        width: 232px;
                        height: 232px;
                        top: 50px;
                        transform-style: preserve-3d;
                        -moz-transform-style: preserve-3d;
                        //-webkit-transform-style: preserve-3d;
                        // transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                        -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                        // -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                        margin: auto;
                        position: relative;
                        -moz-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        -webkit-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;

                        transform: rotateX(
                                -22deg) rotateY(
                                142deg) rotateZ(
                                4590deg) translateX(0px) translateY(0px) translateZ(0px);
                    }

                    #D3Cube > div {
                        position: absolute;
                        -webkit-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;
                        width: 232px;
                        height: 232px;
                        float: left;
                        overflow: hidden;
                        opacity: 1;


                    }

                    #side1 {
                        transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                        background-color: #FFF;
                        //background-image: url('/images/explore1.png');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }

                    #side2 {
                        transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }

                    #side3 {
                        transform: translateX(0px) translateY(0px) translateZ(116px);
                        -moz-transform: translateX(0px) translateY(0px) translateZ(116px);
                        -webkit-transform: translateX(0px) translateY(0px) translateZ(116px);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }

                    #side4 {
                        transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }

                    #side5 {
                        transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                        -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                        -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }

                    #side6 {
                        transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                        -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            .right {
                width: 100%;
                margin-top: 67px;
                margin-right: 32px;
                .top-box {
                    display: flex;
                    justify-content: space-between;
                    .author {
                        display: flex;
                        justify-content: space-between;


                        .author-avatar {
                            padding-right: 13px;

                            img {
                                width: 54px;
                                height: 48px;
                                border-radius: 1px;
                            }
                        }

                        .nick-follow {
                            display: block;
                            margin: auto;
                            margin-bottom: 10px;

                            .creator {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #FFFFFF;


                            }

                            .usernickname {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                margin-top: 5px;
                                letter-spacing: 0.12em;
                                color: #FFFFFF;
                            }
                        }
                    }
                    .prefix {
                        display: flex;
                        margin: auto 0;

                        .text {
                            padding: 6px 9px 7px 10px;
                            font-weight: 700;
                            font-size: 16px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            font-family: $montserrat;
                            position: relative;
                            margin-left: 17px;
                        }

                        .text::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 5px;
                            padding: 2px;
                            background: linear-gradient(45deg, #BC96DD, #67B4E4);
                            -webkit-mask: linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                            -webkit-mask-composite: destination-out;
                            mask-composite: exclude;
                        }
                    }
                }
                .title-token {
                    font-family: $clash;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 139%;
                    letter-spacing: 0.12em;
                    color: #FFFFFF;
                    margin-top: 34px;
                    margin-bottom: 30px;
                }
                .prefix2 {
                    display: none;
                }
                .line-63B5E4 {
                    border: 1px solid #63B5E4;
                }
                .second {
                    display: block;
                    margin-top: 13px;

                    .sale {
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                    }

                    .price {
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                        margin-top: 20px;
                        margin-bottom: 15px;
                    }

                }
                .description {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 139%;
                    letter-spacing: 0.12em;
                    color: #FFFFFF;
                    margin-top: 33px;
                }
                .quantity-box {
                    display: flex;
                    margin-top: 40px;
                    .price-box-title {
                        margin-right: 29px;
                        display: block;
                        .quantity {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 139%;
                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                        }
                        .price-title {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 139%;
                            letter-spacing: 0.105em;
                            color: #FFFFFF;

                            margin-top: 21px;
                        }
                    }
                    .cols-box {
                        display: flex;
                        .price-box-cash {
                            display: block;
                            margin: auto 0;
                            .flex-box {
                                display: flex;
                                .minus {
                                    color: #FFFFFF;
                                    font-size: 30px;
                                    line-height: 18px;
                                    margin-right: 15px;
                                    font-weight: bolder;
                                    cursor: pointer;
                                }
                                .input {
                                    margin-right: 14px;

                                    input {
                                        width: 40px;
                                        height: 25px;
                                        font-family: $montserrat;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 139%;
                                        letter-spacing: 0.105em;
                                        background: #FFFFFF;
                                        border: 0;
                                        color: #BBBBBB;
                                        text-align: center;
                                    }
                                }
                                .plus {
                                    color: #FFFFFF;
                                    font-size: 30px;
                                    line-height: 24px;
                                    font-weight: bolder;
                                    cursor: pointer;
                                }
                            }
                            .price-cash {
                                display: flex;
                                margin-top: 21px;
                                .cash-cash {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 139%;
                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                }
                                .cash-title {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 139%;
                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
                .actions {
                    margin-top: 33px;

                    button {
                        padding: 8px 32px;
                        font-size: 18px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        font-weight: 500;
                        border: 0;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }
        }
    }


        @media (max-width: 1300px) {
            .content-container {
                .content-box {
                    display: block;
                    padding: 0 17px 50px 17px;

                    .left {
                        display: flex;
                        width: 100%;
                        flex-direction: column-reverse;
                        margin-left: unset;

                        .block-img {
                            display: flex;
                            justify-content: space-between;
                        }

                        .cube {
                            margin: 50px auto;
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .content-container {
                margin: 43px 15px 50px 15px;
                .content-box {
                    .left {
                        .block-img li {
                            img {
                                width: 54px;
                                height: 54px;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 576px) {
            .content-container {
                .content-box {
                    .left {
                        .cube {
                            #wrapD3Cube {
                                width: 300px;
                                height: 263px;
                                margin: unset;
                            }

                            #D3Cube {
                                width: 182px;
                                height: 182px;

                                div {
                                    width: 182px;
                                    height: 182px;
                                }
                            }

                            #side1 {
                                transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side2 {
                                transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side3 {
                                transform: translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side4 {
                                transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side5 {
                                transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side6 {
                                transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }
                        }

                        .block-img {
                            li {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .right {
                        .top-box {
                            .prefix {
                                display: none;
                            }
                        }
                        .title-token {
                            margin-bottom: 15px;
                        }
                        .prefix2 {
                            display: flex;
                            margin: auto 0;

                            .text {
                                padding: 6px 9px 7px 10px;
                                font-weight: 700;
                                font-size: 16px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                font-family: $montserrat;
                                position: relative;
                                margin-right: 17px;
                                margin-bottom: 39px;
                            }

                            .text::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 5px;
                                padding: 2px;
                                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                            }
                        }
                    }

                }
            }

        }

    }
}
