.emailverify {
    position: relative;
    //overflow: hidden;

    .background {
        height: 100%;
        //position: absolute;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url("/images/Component17.png");
        background-position-x: 520px;
        background-position-y: 130px;
        background-size: 900px;
    }

    .background_tl {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(102, 179, 228, 0.69);
        filter: blur(300px);
        width: 414px;
        height: 367px;
    }

    .background_tr {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(102, 179, 228, 0.5);
        filter: blur(300px);
        width: 457px;
        height: 479px;
    }

    .background_br {
        position: absolute;
        bottom: 0;
        right: 55px;
        background: rgba(187, 148, 221, 0.75);
        filter: blur(259px);
        width: 675px;
        height: 574px;
    }

    .container {
        max-width: 1440px;
        padding: 0 102px 260px 102px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        //min-height: 100vh;
    }

    .header {
        display: flex;
        padding-top: 40px;
        padding-bottom: 174px;
        justify-content: unset;

        .logo {
            margin-right: 16px;
        }

        .title {
            font-size: 28px;

            margin: auto 0;
            color: white;
            font-family: $clash;
            letter-spacing: 0.32em;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form {
            border-radius: 30px;
            width: 930px;
            background: rgba(255, 255, 255, 0.15);
            .arrow-box {
                display: flex;
                padding: 34px 0 0 26px;
                .arrow {
                    margin: auto 10px;
                    img {
                        width: 28px;
                        transform: rotate(180deg);
                        filter: invert(1);
                    }
                }
                .text {
                    color: #FFFFFF;
                    font-family: $clash;
                    font-size: 14px;
                    line-height: 189%;
                    letter-spacing: 0.105em;
                }
            }
            form {
                padding: 30px 0 64px 66px;
                    .title {
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $clash;
                        font-weight: 500;
                    }

                    .subtitle {
                        padding-top: 32px;
                        padding-bottom: 48px;
                        font-size: 18px;
                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $montserrat;
                        padding-right: 220px;
                        font-weight: 400;
                        line-height: 139%;
                    }

                    .subtitle-code {
                        padding-bottom: 25px;
                        font-size: 18px;
                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $montserrat;
                        font-weight: 400;
                        line-height: 139%;
                    }

                    .input {
                        border: 1px solid #a99cde;
                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                        border-image-slice: 1;
                        padding: 17px;
                        width: 380px;
                        margin-bottom: 38px;
                        font-family: $montserrat;

                        input {
                            background: transparent;
                            border: none;
                            width: 100%;
                            color: white;
                            padding: 0 35px 0 35px;
                            font-family: $montserrat;
                            letter-spacing: 0.105em;
                            font-weight: 400;
                        }

                    }

                    .actions-verification {
                        margin-top: 48px;

                        button {
                            padding: 13px 47px;
                            font-size: 24px;

                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                            text-transform: uppercase;
                            font-family: $clash;
                            border: 0;
                            cursor: pointer;
                        }
                    }
            }

        }




        .background_tl, .background_tr, .background_br {
            display: none;
        }
    }


@media (max-width: 1200px) {
     .content {
         .form {
             width: 100%;
         }
     }
}
@media (max-width: 992px) {
    .header {
        padding-bottom: 30px;
    }
    .background {
        opacity: 0.4;
    }
    .content {
        .form {
            width: 100%;

            form {
                width: 100%;

                    .subtitle {
                        padding-right: 20%;
                    }
                    .input {
                        width: 80%;
                    }
            }
        }
    }
    @media (max-width: 576px) {
        .container {
            padding: 0 15px 50px 15px;
        }
        .content {
            .form {
                form {
                    padding: 30px;
                    .subtitle {
                        padding-right: 0;
                    }
                    .input {
                        width: 100%;
                    }
                    .actions-verification {
                        text-align: center;
                    }
                }
            }
        }
    }
}
}

























//.emailverify {
//    position: relative;
//    overflow: hidden;
//
//    .background {
//        height: 100%;
//        position: fixed;
//        width: 100%;
//        background-repeat: no-repeat;
//        background-position: center;
//        left: 120px;
//        background-image: url("/images/emailverific.png");
//        top: 0;
//    }
//    @media (max-width: 992px) {
//
//    }
//}
//
//.actions-verification {
//    margin-top: 45px;
//
//    button {
//        padding: 12px 50px;
//        font-size: 24px;
//
//        letter-spacing: 0.105em;
//        color: #FFFFFF;
//        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
//        text-transform: uppercase;
//        font-family: $clash;
//        border: 0;
//    }
//}
//
//.subtitle-code {
//    padding-bottom: 20px;
//    font-size: 18px;
//    letter-spacing: 0.105em;
//    color: #FFFFFF;
//    font-family: $montserrat;
//}

