.explore {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 62px;

        .page-box {
            margin-left: 82px;
            margin-right: 101px;
            .title {
                background: linear-gradient(180deg, #C094DC 28.99%, #66B3E4 61.21%, #63B5E4 70.23%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: $clash;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;

                letter-spacing: 0.12em;
            }

            .bar {
                display: flex;
                justify-content: space-between;
                padding-top: 60px;

                .search-box {
                    position: relative;

                    .bg-search {
                        background: url('/images/searchboxic.png') no-repeat;
                        position: relative;

                        .searchbox {
                            //position: relative;
                            display: flex;
                            //border: 1px solid #a99cde;
                            //border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                            //border-image-slice: 1;
                            font-family: $montserrat;
                            width: 347px;
                            height: 45px;

                            .search {
                                background: transparent;
                                border: none;
                                width: 100%;
                                color: white;
                                font-family: $montserrat;
                                letter-spacing: 0.105em;
                                font-weight: 400;
                                padding-left: 21px;
                            }

                            .submit {
                                width: 50px;
                                background-image: url("/images/search.png");
                                background-repeat: no-repeat;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                margin: 7px;
                            }
                        }
                    }
                }

                .list {
                    .sortlist {
                        display: flex;
                        li {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            letter-spacing: 0.105em;
                            color: #FFFFFF;

                            margin: auto 10px;

                            &:hover, &.active {
                                background: rgba(255, 255, 255, 0.15);
                                backdrop-filter: blur(4px);
                                border-radius: 29px;
                                padding: 9px 9px;
                                text-align: center;
                                cursor: pointer;
                            }
                        }
                    }

                    .paragraph-sort {
                        display: flex;
                        padding-left: 9px;
                        padding-right: 3px;
                        background: rgba(255, 255, 255, 0.15);
                        border-radius: 9px;

                        .img {
                            margin: auto;
                        }

                        .text {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;

                            display: flex;
                            align-items: center;
                            letter-spacing: 0.105em;
                            color: #FFFFFF;
                            cursor: pointer;
                            padding: 9px 0 9px 7px;

                            span {
                                margin-top: 4px;
                            }
                        }
                    }
                }
            }

            .slide {
                display: flex;
                justify-content: space-between;
                padding-top: 91px;
                padding-left: 2px;
                padding-right: 2px;
                margin-bottom: 102px;
                flex-wrap: wrap;

                .left {
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(4px);
                    border-radius: 4px;
                    padding: 24px;
                    width: 377px;
                    height: 470px;
                    margin: 0 16px 102px 0;
                    display: flex;
                    flex-direction: column;

                    .image {
                        img {
                            border-radius: 5px;
                        }
                    }

                    .title-price {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 24px;

                        .title-art {
                            font-family: $clash;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;

                            width: calc(100% - 130px);

                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -moz-box;
                            -moz-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            line-clamp: 2;
                            box-orient: vertical;
                        }

                        .price {
                            font-family: $clash;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;

                            letter-spacing: 0.12em;
                            color: #FFFFFF;

                            width: 130px;
                            text-align: right;
                        }
                    }

                    .author-buy {
                        display: flex;
                        justify-content: space-between;
                        margin-top: auto;

                        .author {
                            display: flex;
                            justify-content: space-between;
                            margin-top: auto;

                            .author-avatar {
                                padding-right: 13px;

                                img {
                                    width: 54px;
                                    height: 48px;
                                    border-radius: 1px;
                                }
                            }

                            .nick-follow {
                                display: block;

                                .usernickname {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;

                                    letter-spacing: 0.12em;
                                    color: #FFFFFF;
                                }

                                .button-follow {
                                    display: flex;
                                    width: 99px;
                                    height: 28px;
                                    text-decoration: none;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;

                                    color: #FFFFFF;
                                    cursor: pointer;
                                    position: relative;

                                    .img-follower {
                                        margin: auto auto;
                                    }

                                    .text-follower {
                                        height: 100%;
                                        margin-top: 3px;
                                        margin-right: auto;
                                    }
                                }

                                .button-follow::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    border-radius: 5px;
                                    padding: 2px;
                                    background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                    linear-gradient(#fff 0 0);
                                    -webkit-mask-composite: destination-out;
                                    mask-composite: exclude;
                                }
                            }
                        }

                        .bid-buy {
                            display: block;

                            .endbuy {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #63B5E4;
                                text-align: right;
                            }

                            .endtimer {
                                margin: 6px 0;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #63B5E4;
                                text-align: right;
                            }

                            .buy {
                                text-align: right;

                                button {
                                    width: 90px;
                                    height: 39px;
                                    padding: 5px 20px;
                                    font-size: 16px;

                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                    text-transform: uppercase;
                                    font-family: $clash;
                                    border: 0;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .center {
                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(4px);
                    border-radius: 4px;
                    padding: 24px;
                    width: 377px;
                    height: 470px;
                    margin: 0 16px 102px 0;
                    display: flex;
                    flex-direction: column;

                    .image {
                        img {
                            border-radius: 5px;
                        }
                    }

                    .title-price {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 24px;

                        .title-art {
                            font-family: $clash;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -moz-box;
                            -moz-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            line-clamp: 2;
                            box-orient: vertical;
                        }

                        .price {
                            font-family: $clash;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;

                            letter-spacing: 0.12em;
                            color: #FFFFFF;
                        }
                    }

                    .author-buy {
                        display: flex;
                        justify-content: space-between;
                        margin-top: auto;

                        .author {
                            display: flex;
                            justify-content: space-between;
                            margin-top: auto;

                            .author-avatar {
                                padding-right: 13px;

                                img {
                                    width: 54px;
                                    height: 48px;
                                    border-radius: 1px;
                                }
                            }

                            .nick-follow {
                                display: block;
                                margin: auto;

                                .usernickname {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;

                                    letter-spacing: 0.12em;
                                    color: #FFFFFF;
                                }

                                .button-follow {
                                    display: flex;
                                    text-decoration: none;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;

                                    color: #FFFFFF;
                                    cursor: pointer;
                                    position: relative;

                                    .img-following {
                                        margin: auto 6px auto 0;
                                        text-align: center;
                                        width: 18.86px;
                                        height: 20px;
                                        background: #63B5E4;
                                        border-radius: 1px;
                                    }

                                    .text-following {
                                        margin-top: 3px;
                                        margin-right: auto;
                                        font-family: $montserrat;
                                        font-size: 16px;
                                        line-height: 75%;
                                        letter-spacing: 0.105em;
                                        display: table;
                                        background: linear-gradient(
                                                90deg, #C094DC 0%, #63B5E4 100%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }
                                }
                                .button-follow1 {
                                    display: flex;
                                    width: 99px;
                                    height: 28px;
                                    text-decoration: none;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;

                                    color: #FFFFFF;
                                    cursor: pointer;
                                    position: relative;

                                    .img-follower {
                                        margin: auto auto;
                                    }

                                    .text-follower {
                                        height: 100%;
                                        margin-top: 3px;
                                        margin-right: auto;
                                    }
                                }

                                .button-follow1::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    border-radius: 5px;
                                    padding: 2px;
                                    background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                    linear-gradient(#fff 0 0);
                                    -webkit-mask-composite: destination-out;
                                    mask-composite: exclude;
                                }

                            }
                        }

                        .bid-buy {
                            display: block;

                            .endbuy {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #63B5E4;
                                text-align: right;
                            }

                            .endtimer {
                                margin: 6px 0;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #63B5E4;
                                text-align: right;
                            }

                            .buy {
                                text-align: right;

                                button {
                                    width: 90px;
                                    height: 39px;
                                    padding: 5px 20px;
                                    font-size: 16px;

                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                    text-transform: uppercase;
                                    font-family: $clash;
                                    border: 0;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                .right {
                    margin: 0 0 102px 16px;

                    background: rgba(255, 255, 255, 0.15);
                    backdrop-filter: blur(4px);
                    border-radius: 4px;
                    padding: 24px;
                    width: 377px;
                    height: 470px;
                    margin: 0 16px 102px 0;
                    display: flex;
                    flex-direction: column;

                    .image {
                        img {
                            border-radius: 5px;
                        }
                    }

                    .title-price {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 24px;

                        .title-art {
                            font-family: $clash;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -moz-box;
                            -moz-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            line-clamp: 2;
                            box-orient: vertical;
                        }

                        .price {
                            font-family: $clash;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;

                            letter-spacing: 0.12em;
                            color: #FFFFFF;
                        }
                    }

                    .author-buy {
                        display: flex;
                        justify-content: space-between;
                        margin-top: auto;

                        .author {
                            display: flex;
                            justify-content: space-between;
                            margin-top: auto;

                            .author-avatar {
                                padding-right: 13px;

                                img {
                                    width: 54px;
                                    height: 48px;
                                    border-radius: 1px;
                                }
                            }

                            .nick-follow {
                                display: block;

                                .usernickname {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;

                                    letter-spacing: 0.12em;
                                    color: #FFFFFF;
                                }

                                .button-follow {
                                    display: flex;
                                    width: 99px;
                                    height: 28px;
                                    text-decoration: none;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;

                                    color: #FFFFFF;
                                    cursor: pointer;
                                    position: relative;

                                    .img-follower {
                                        margin: auto auto;
                                    }

                                    .text-follower {
                                        height: 100%;
                                        margin-top: 3px;
                                        margin-right: auto;
                                    }
                                }

                                .button-follow::before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    border-radius: 5px;
                                    padding: 2px;
                                    background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                    linear-gradient(#fff 0 0);
                                    -webkit-mask-composite: destination-out;
                                    mask-composite: exclude;
                                }
                            }
                        }

                        .bid-buy {
                            display: block;

                            .endbuy {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #63B5E4;
                                text-align: right;
                            }

                            .endtimer {
                                margin: 6px 0;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;

                                letter-spacing: 0.12em;
                                color: #63B5E4;
                                text-align: right;
                            }

                            .buy {
                                text-align: right;

                                button {
                                    width: 90px;
                                    height: 39px;
                                    padding: 5px 20px;
                                    font-size: 16px;

                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                    text-transform: uppercase;
                                    font-family: $clash;
                                    border: 0;
                                    border-radius: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }




            .close {
                margin-right: 63px;
                font-size: 50px;
                font-family: $clash;
            }
            .close:hover,
            .close:focus {
                color: #6b7280;
                text-decoration: none;
                cursor: pointer;
            }

            .body {
                .line_1 {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 139%;
                    letter-spacing: 0.105em;
                    color: #000000;
                    text-align: center;
                    margin-top: 24px;
                }
                .line_2 {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 139%;
                    letter-spacing: 0.105em;
                    color: #000000;
                    text-align: center;
                    margin-top: 34px;
                }
                .line_3 {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 139%;
                    letter-spacing: 0.105em;
                    color: #000000;
                    text-align: center;
                    margin-top: 81px;
                }
                .line_4 {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 139%;
                    letter-spacing: 0.105em;
                    color: #000000;
                    text-align: center;
                    margin-top: 51px;
                }
                .input_pass_modal {
                    display: flex;
                    justify-content: center;
                    margin-top: 38px;
                    input {
                        background: transparent;
                        width: 100%;
                        color: black;
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        letter-spacing: 0.105em;
                        border: 1px solid #a99cde;
                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                        border-image-slice: 1;
                        padding: 17px 45px;
                        width: 380px;
                        margin-bottom: 16px;
                        &::placeholder{
                            color: black;
                        }
                    }
                }
                .actions {
                    text-align: center;
                    margin-top: 35px;
                    margin-bottom: 85px;
                    button {
                        padding: 13px 36px;
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }
        }

    }

    @media (max-width: 1350px) {
        .container {
            .page-box {
                .slide {
                    justify-content: space-around;
                    .left {
                        margin: 0 0 102px 0;
                    }
                    .right {
                        margin: 0 0 102px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .container {
            .page-box {
                .paragraph-active {
                    display: none;
                }

                .paragraph {
                    display: none;
                }

                .slide {
                    justify-content: space-between;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .container {
            margin-top: 25px;
            .page-box {
                margin-left: 20px;
                margin-right: 20px;

                .slide {
                    justify-content: space-around;
                    .left {
                        height: 444px;
                        margin: 0 0 44px;
                        padding: 19px;
                        width: 339px;

                        //display: flex;
                        //flex-direction: column;

                        .image {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .center {
                        width: 339px;
                        height: 444px;
                        padding: 19px;
                        margin: 0 0 44px 0;

                        .image {
                            img {
                                width: 100%;
                            }
                        }
                    }

                    .right {
                        width: 339px;
                        height: 444px;
                        padding: 19px;
                        margin: 0 0 44px 0;

                        .image {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .close {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 576px) {

        .container {
            .page-box {
                .bar {
                    flex-wrap: wrap;
                    .search-box {
                        width: 100%;
                        .bg-search {
                            background-size: 335px;
                            .searchbox {
                                .submit {
                                    margin-right: 13px;
                                }
                            }
                        }
                    }
                    .list {
                        margin-left: auto;
                        margin-top: 29px;
                        .paragraph-sort {
                            padding-left: unset;
                            padding-right: unset;
                            background: unset;
                            border-radius: unset;
                            width: 125px;
                    }
                }
            }
                .slide {
                    padding-top: 55px;
                }
                .body {
                    .input_pass_modal {
                        input {
                            width: 95%;
                        }
                    }
                    .actions {
                        button {
                            font-size: 18px;
                        }
                    }
                }
        }
    }
}

    @media (max-width: 374px) {
        .container {
            .page-box {
                .bar {
                    .search-box {
                        .bg-search {
                            background-size: 280px;

                            .searchbox {
                                height: 37px;
                                .submit {
                                    margin-right: 76px;
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
