*{
    margin:0;
    padding:0;
}
html,
body {
    height: 100%;
}
//.wrapper {
//    display: flex;
//    flex-direction: column;
//    height: 94%;
//}
.content {
    flex: 1 0 auto;
}
.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
    flex: 0 0 auto;
    max-width: 1440px;
    margin: auto;
    padding-left: 82px;
    .logo-soc {
        margin: auto 0;
        .mf-logo {
            display: none;
        }

        .social {
            display: flex;
            margin: auto 0;

            .tiktok {
                width: 23px;
                height: 23px;
                background: #abc;
                border-radius: 100%;
                box-shadow: inset 0 -40px 150px #fff, 4px 4px 12px -1px #fff;
                margin-right: 18px;
                opacity: 0.9;
            }

            .twitter {
                width: 23px;
                height: 23px;
                background: #abc;
                border-radius: 100%;
                box-shadow: inset 0 -40px 150px #fff, 4px 4px 12px -1px #fff;
                margin-right: 18px;
                opacity: 0.9;
            }

            .instagram {
                width: 23px;
                height: 23px;
                background: #abc;
                border-radius: 100%;
                box-shadow: inset 0 -40px 150px #fff, 4px 4px 12px -1px #fff;
                margin-right: 18px;
                opacity: 0.9;
            }

            .facebook {
                width: 23px;
                height: 23px;
                background: #abc;
                border-radius: 100%;
                box-shadow: inset 0 -40px 150px #fff, 4px 4px 12px -1px #fff;
                opacity: 0.9;
            }
        }
        .m-copyright {
            display: none;
        }
    }
    .copyright {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        letter-spacing: 0.105em;
        color: #FFFFFF;
        margin: auto 0;
    }
    .link {
        display: flex;
        padding-right: 109px;
        margin: auto 0;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;

        letter-spacing: 0.105em;
        color: #FFFFFF;

        a {
            text-decoration: none;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;

            color: #FFFFFF;
        }

        .help {
            padding-right: 45px;
        }
    }

    @media (max-width: 1024px) {
        height: 177px;
        .logo-soc {
            display: block;
            .mf-logo {
                display: flex;
                margin: auto 0;
                margin-bottom: 17px;
                .mobile {
                    margin-right: 10px;
                }
                .m-title {
                    font-size: 14px;
                    font-family: $clash;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;

                    letter-spacing: 0.265em;
                    color: #FFFFFF;
                    margin: auto 0;
                }
            }
            .m-copyright {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;

                letter-spacing: 0.105em;
                color: #FFFFFF;
                margin: auto 0;
                padding-top: 31px;
                display: block;
            }
        }
        .copyright {
            display: none;
        }
        .link {
            display: block;
            padding-right: 18px;
            margin-top: 31px;
            .help {
                padding-bottom: 14px;
                padding-right: 0;
                white-space: nowrap;
            }
        }
    }

    @media (max-width: 576px) {
        padding-left: 19px;
        .logo-soc {
            .social {
                padding-left: 36px;
            }
        }
    }

    //@media (max-width: 992px) {
    //    display: block;
    //    height: unset;
    //    flex-direction: unset;
    //    justify-content: unset;
    //    .social {
    //        padding-left: unset;
    //        justify-content: center;
    //    }
    //    .copyright {
    //        padding-top: 9px;
    //        text-align: center;
    //    }
    //    .link {
    //        padding-right: unset;
    //        padding-top: 9px;
    //        justify-content: center;
    //    }
    //}
}
