*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration:none;
}

.main-header {
    display: flex;
    max-width: 1440px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 82px;
    padding-right: 109px;

    .main-logo {
        display: flex;

        .main-title {
            font-size: 28px;

            margin: auto 0;
            color: white;
            font-family: $clash;
            letter-spacing: 0.32em;
            font-weight: bold;
            padding-left: 16px;
        }
    }

    .main-list {
        display: none;
        position: absolute;
        top: 0;
        background: #1B1934;
        width: 100%;
        height: 100%;
        left: 0;
        padding: 23px 0 0 22px;

        .mobile-tm {
            display: flex;
            justify-content: space-between;
        }

        .hide_menu {
            color: white;
            padding-top: 3px;
            padding-right: 30px;
            font-family: $montserrat;
            font-weight: 600;
        }

        .m-logo {
            display: flex;

            .m-title {
                font-size: 14px;
                padding-left: 10px;

                padding-top: 6px;
                color: white;
                font-family: $clash;
                letter-spacing: 0.32em;
                font-weight: bold;
            }
        }

        ul {
            padding-top: 54px;
            padding-left: 34px;
        }

        li {
            text-decoration: none;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;

            color: #FFFFFF;
            cursor: pointer;

            a {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;

                color: #FFFFFF;
                cursor: pointer;
            }

            a:hover {
                border-bottom: 5px solid #a99cde;
                border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                border-image-slice: 1;
                padding-bottom: 9px;
            }
            a.selected {
                border-bottom: 5px solid #a99cde;
                border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                border-image-slice: 1;
                padding-bottom: 9px;
            }

            .notification {
                position: absolute;
                color: #fff;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 10px;

                align-items: center;
                letter-spacing: 0.12em;
                background: linear-gradient(
                        90deg, #C094DC 0%, #63B5E4 100%);
                border-radius: 4px;

                right: 10px;
                top: -8px;
                padding: 3px;
                text-align: center;
            }
        }
    }

    .main-menu {
        display: flex;

        .top-menu {
            margin: auto 0;
            padding-right: 39px;

            .main {
                display: flex;
                height: 100%;

                a {
                    text-decoration: none;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;

                    color: #FFFFFF;
                }

                a:hover {
                    border-bottom: 5px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                    border-image-slice: 1;
                    padding-bottom: 9px;
                }
                a.selected {
                    border-bottom: 5px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                    border-image-slice: 1;
                    padding-bottom: 9px;
                }

                li {
                    padding-right: 35px;
                    margin: auto 0;
                }

                .notification {
                    position: absolute;
                    width: auto;
                    left: 102px;
                    bottom: 16px;
                    color: #fff;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 10px;
                    align-items: center;
                    letter-spacing: 0.12em;
                    background: linear-gradient(
                            90deg, #C094DC 0%, #63B5E4 100%);
                    padding: 0 4px;
                    border-radius: 4px;
                }
            }
        }

        .mm-cash {
            position: relative;
            margin: auto 0;
            padding: 0 40px 0 0;
            background: #1B1834;
            border-bottom: 0;

            ul > li {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;

                color: #FFFFFF;
                cursor: pointer;

                a {
                    text-decoration: none;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;

                    color: #FFFFFF;
                    cursor: pointer;
                }
            }

            .mm-button {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;

                color: #FFFFFF;
                cursor: pointer;
                padding: 10px 4px 8px 4px;
                position: relative;
            }

            .mm-button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 5px;
                padding: 2px;
                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
            }

            .cash-list {
                display: none;
                position: absolute;
                width: 141px;
                top: 40px;
                background: #1B1834;
                border-radius: 1px;
                padding: 8px 0 8px 9px;
                margin-left: -7px;
                z-index: 1;

                .show {
                    display: block;
                }
            }
        }

        .actions-in-menu {
            text-align: center;
            margin: auto 0;

            button {
                width: 125px;
                height: 35px;
                font-size: 16px;

                letter-spacing: 0.105em;
                color: #FFFFFF;
                background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                text-transform: uppercase;
                font-family: $clash;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
            }
        }

    }

    .tm-button {
        display: none;
    }

    @media (max-width: 1300px) {
        .main-menu {
            .top-menu {
                padding-right: 19px;

                .main {
                    li {
                        padding-right: 19px;
                    }
                }
            }
            .mm-cash {
                padding: 0 24px 0 0;
            }
        }
    }

    @media (max-width: 1200px) {
        padding-left: 23px;
        height: 74px;
        flex-direction: unset;
        justify-content: unset;
        padding-top: unset;
        padding-bottom: unset;
        width: 100%;
        padding-right: 32px;
        .main-logo {
            margin: auto 0;
            padding-right: 10px;
            .mobile {
                height: 34px;
                width: 38px;
            }
            .main-title {
                display: none;
                font-size: 14px;
            }
        }

        .main-list {
                display: none;
                z-index: 2;
                .show {
                    display: block;
                }
                li {
                    padding-bottom: 36px;//27
                    line-height: 139%;
                }
                .actions-in-menu {
                    display: block;

                    button {
                        padding: 5px 20px;
                        font-size: 16px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        border-radius: 5px;
                    }
                }
            }
        .main-menu {
            .mm-cash {
                display: block;
                margin: auto 0;
                &.active {
                    outline: 1px solid rgba(255, 255, 255, 0.2);
                    .mm-button {
                        width: 120%;
                    }
                }

                .cash-list {
                    display: none;
                    top: 39px;
                    background: #1B1834;
                    left: -1px;
                    width: calc(100% + 2px);
                    margin: 0;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                    border-left: 1px solid rgba(255, 255, 255, 0.2);
                    border-radius: unset;

                    li {
                        font-size: 16px;
                        padding-top: 4px;
                    }
                }
            }
        }
        .tm-button {
            display: block;
            cursor: pointer;
            z-index: 1;
            margin: auto 0;
            margin-left: auto;
        }



        .actions-in-menu {
            display: none;
        }
        .main-menu {
            .actions-in-menu {
                padding-right: 19px;
            }
            .top-menu {
                display: none;
            }
        }
    }

    @media (max-width: 800px) {
        padding-left: 20px;
        padding-right: 20px;
    }

}
