.home {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;

        .activesort {
            .sortlist {
                display: flex;
                justify-content: flex-end;
                margin-right: 237px;
                margin-top: 65px;
                margin-bottom: 111px;
                //.active  {
                //    a {
                //        background: rgba(255, 255, 255, 0.15);
                //        backdrop-filter: blur(4px);
                //        border-radius: 29px;
                //        padding: 9px 19px;
                //    }
                //}
                li {
                    font-family: $montserrat;
                    font-style: medium;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 139%;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    margin: auto 10px;


                    &:hover, &.active {
                        background: rgba(255, 255, 255, 0.15);
                        backdrop-filter: blur(4px);
                        border-radius: 29px;
                        padding: 9px 19px;
                    }

                    //a:active {
                    //    background: rgba(255, 255, 255, 0.15);
                    //    backdrop-filter: blur(4px);
                    //    border-radius: 29px;
                    //    padding: 9px 19px;
                    //}
                }
            }
        }


        .container-content {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(4px);
            border-radius: 4px;
            display: flex;
            margin-right: 237px;
            margin-left: 237px;
            margin-bottom: 70px;

            .cube {
                margin: 34px 0 34px 48px;
            }

            .information {
                margin-top: 34px;
                margin-left: 67px;

                .author {
                    display: flex;
                    justify-content: space-between;


                    .author-avatar {
                        padding-right: 13px;

                        img {
                            width: 54px;
                            height: 48px;
                            border-radius: 1px;
                        }
                    }

                    .nick-follow {
                        display: block;
                        margin: auto;
                        margin-bottom: 10px;

                        .creator {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;

                            letter-spacing: 0.12em;
                            color: #FFFFFF;


                        }

                        .usernickname {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            margin-top: 5px;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;
                        }
                    }
                }

                .title-token {
                    font-family: $clash;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 139%;
                    letter-spacing: 0.12em;
                    color: #FFFFFF;
                    padding-right: 50px;
                    margin-top: 56px;
                }

                .prefix {
                    display: flex;
                    margin-top: 15px;

                    .text {
                        padding: 6px 9px 7px 10px;
                        font-weight: 700;
                        font-size: 16px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $montserrat;
                        position: relative;
                        margin-right: 17px;
                    }

                    .text::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 5px;
                        padding: 2px;
                        background: linear-gradient(45deg, #BC96DD, #67B4E4);
                        -webkit-mask: linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                        -webkit-mask-composite: destination-out;
                        mask-composite: exclude;
                    }
                }

                .endtimer {
                    display: flex;
                    margin-top: 38px;

                    .text {
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                        margin: 9px 13px 0 0;
                    }

                    .timer {
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                    }

                    .second {
                        display: block;
                        margin-top: 38px;

                        .sale {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 139%;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;
                            margin: 9px 13px 0 0;
                        }

                        .price {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 139%;
                            letter-spacing: 0.12em;
                            color: #FFFFFF;
                            margin-top: 13px;
                        }

                    }
                }

                .infobid {
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 139%;
                    letter-spacing: 0.12em;
                    margin-top: 14px;
                    color: #FFFFFF;
                }

                .actions {
                    margin: auto 0;
                    margin-top: 40px;

                    button {
                        width: 188px;
                        height: 39px;
                        font-size: 18px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }


        @media (max-width: 1350px) {
            .container-content {
                margin-right: 180px;
                margin-left: 180px;
                justify-content: space-around;
                //display: block;
                .cube {
                    img {
                        width: 309px;
                        height: 280px;
                    }
                }

                .information {
                    .author {
                        //justify-content: unset;

                        .nick-follow {
                            //margin: unset;
                        }
                    }

                    .actions {
                        padding-bottom: 97px;
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            .container-content {
                margin-right: 17px;
                margin-left: 17px;

                .cube {
                    margin: auto 0;
                }

            }
        }
        @media (max-width: 768px) {
            .activesort {
                .sortlist {
                    margin-right: 17px;
                    margin-top: 62px;
                    margin-bottom: 49px;

                    li {
                        a {
                            font-size: 14px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .container-content {
                display: block;

                .cube {
                    padding-top: 50px;
                    margin: auto 0;
                    text-align: center;
                }

                .information {
                    margin-left: 49px;

                    .author {
                        justify-content: unset;

                        .nick-follow {
                            margin: unset;
                        }
                    }

                    .actions {
                        padding-bottom: 51px;
                    }
                }
            }
        }
        @media (max-width: 576px) {
            .activesort .sortlist li {
                font-size: 10px;
            }
        }

    }
}
