.login {
    position: relative;
    //overflow: hidden;


    .background {
            height: 100%;
            //position: absolute;
            background-size: 1180px;
            background-position-x: 220px;
            background-position-y: bottom;
            left: 0;
            width: 100%;
            background-repeat: no-repeat;
            background-image: url("/images/bg.png");
            top: 0;
        }

    .background_tl {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(102, 179, 228, 0.69);
        filter: blur(300px);
        width: 414px;
        height: 367px;
    }

    .background_tr {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(102, 179, 228, 0.5);
        filter: blur(300px);
        width: 457px;
        height: 479px;
    }

    .background_br {
        position: absolute;
        bottom: 0;
        right: 55px;
        background: rgba(187, 148, 221, 0.75);
        filter: blur(259px);
        width: 675px;
        height: 574px;
    }

    .container {
        max-width: 1440px;
        padding: 0 102px 50px 102px;
        position: relative;
        margin: 0 auto;
        //overflow: hidden;
        //min-height: 100vh;
        margin-bottom: 50px;
    }

    .header {
        display: flex;
        padding-top: 40px;
        padding-bottom: 51px;
        justify-content: unset;

        .logo {
            margin-right: 16px;
        }

        .title {
            font-size: 28px;

            margin: auto 0;
            color: white;
            font-family: $clash;
            letter-spacing: 0.32em;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form {
            form {
                border-radius: 30px;
                padding: 40px 52px;
                width: 486px;
                background: rgba(255, 255, 255, 0.15);

                .title {
                    font-size: 24px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                }

                .subtitle {
                    padding-top: 21px;
                    padding-bottom: 47px;
                    font-size: 18px;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                    line-height: 139%;
                }

                .sign_with {
                    display: flex;
                    padding: 8px 17px;
                    margin-bottom: 28px;
                    width: 100%;
                    border: 1px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192,148,220,1) 25%, rgba(99,181,228,1) 100%, rgba(99,181,228,1) 100%);
                    border-image-slice: 1;

                    &.second {
                        margin-bottom: 0;
                    }

                    .logo {
                        width: 38px;
                        height: 38px;
                        margin-right: 36px;
                        background: white;
                        display: flex;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            margin: auto;
                        }
                    }

                    .text {
                        font-size: 16px;

                        letter-spacing: 0.105em;
                        margin: auto 0;
                        color: #FFFFFF;
                        font-family: $montserrat;
                    }
                }

                .hr {
                    text-align: center;
                    font-size: 14px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    margin: 40px 0;
                    position: relative;
                    font-family: $montserrat;

                    &:after {
                        content: " ";
                        position: absolute;
                        height: 1px;
                        top: 50%;
                        background: white;
                        left: 0;
                        width: calc(50% - 100px);
                    }

                    &:before {
                        content: " ";
                        position: absolute;
                        height: 1px;
                        top: 50%;
                        background: white;
                        right: 0;
                        width: calc(50% - 100px);
                    }
                }

                .input {
                    display: flex;
                    border: 1px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192,148,220,1) 25%, rgba(99,181,228,1) 100%, rgba(99,181,228,1) 100%);
                    border-image-slice: 1;
                    padding: 17px;
                    width: 100%;
                    margin-bottom: 38px;
                    font-family: $montserrat;

                    &.second {
                        margin-bottom: 0;
                    }

                    .logo {
                        width: 20px;
                        margin-right: 15px;
                        display: flex;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            margin: auto;
                        }
                    }

                    input {
                        background: transparent;
                        border: none;
                        width: 100%;
                        color: white;
                        font-family: $montserrat;
                        letter-spacing: 0.105em;
                        font-weight: 400;
                    }

                    .hide_show {
                        display: flex;

                        svg {
                            margin: auto 0;
                        }
                    }
                }

                .forget {
                    margin-top: 11px;
                    text-align: right;
                    font-size: 14px;

                    letter-spacing: 0.105em;
                    color: #63B5E4;
                    font-family: $montserrat;
                    font-weight: bold;
                }

                .remember {
                    margin-top: 14px;
                    display: flex;

                    input {
                        width: 20px;
                        height: 20px;
                        margin-right: 25px;
                    }

                    .text {
                        font-size: 16px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        margin: auto 0;
                        font-family: $montserrat;
                    }
                }

                .actions {
                    text-align: center;
                    margin-top: 45px;

                    button {
                        padding: 13px 50px;
                        margin: auto 0;
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }

            .dont_have {
                font-size: 18px;

                letter-spacing: 0.105em;
                color: #FFFFFF;
                margin-top: 30px;
                text-align: center;
                font-family: $montserrat;

                span {
                    color: #63b5e4;
                    font-weight: bold;
                }
            }
        }

        .statistic {
            .block {
                text-align: right;
                margin-bottom: 73px;
                text-transform: uppercase;

                .title {
                    font-size: 48px;
                    letter-spacing: 0.2em;
                    color: #FFFFFF;
                    font-family: $clash;
                }

                .subtitle {
                    font-size: 24px;
                    letter-spacing: 0.2em;
                    color: #FFFFFF;
                    font-family: $clash;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .header {
            padding-bottom: 30px;
        }
        .background {
            left: 0;
            opacity: 0.4;
        }
        .content {
            .form {
                width: 100%;

                form {
                    width: 100%;
                }
            }

            .statistic {
                width: 100%;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;

                .block {
                    text-align: center;
                    margin-bottom: 20px;
                    .title {
                        font-size: 18px;
                    }
                    .subtitle {
                        font-size: 18px;
                    }
                }
            }
        }
        .background_tl, .background_tr, .background_br {
            display: none;
        }
    }
    @media (max-width: 576px) {

        .container {
            padding: 0 15px 50px 15px;
            .header {
                padding-bottom: 30px;
                .title {
                    font-size: 24px;
                }
            }
        }
        .content {
            .form {
                form {
                    padding: 30px;
                }
                .dont_have {
                    font-size: 16px;
                }
            }
        }
    }
}


















