._modal {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    //background: rgba(0, 0, 0, 50%);
    background: rgba(27, 25, 52, 0.75);
    top: 0;
    left: 0;
    display: none;
    z-index: 10;

    ._content {
        width: 863px;
        margin: auto;
        background: white;
        border-radius: 30px;
        .body_scroll {
            overflow-y: auto;
            height: calc(100vh - 100px);
        }
    }
}

@media(max-width: 992px) {
    ._modal {
        ._content {
            width: 100%;
            margin: auto 17px;
        }
    }
}
