.notifications {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    * {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 81px;
        .info-box {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(4px);
            border-radius: 4px;
            margin-left: 192px;
            margin-right: 192px;
            margin-bottom: 111px;
            padding-bottom: 86px;
            .buttons-block {
                display: flex;
                justify-content: flex-end;
                padding-top: 25px;
                padding-right: 35px;

                .mark-read {
                    margin-right: 25px;
                    button {
                        padding: 7px 8px 5px 6px;
                        font-weight: 500;
                        font-size: 16px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $montserrat;
                        border: 0;
                        border: 2px solid #a99cde;
                        border-radius: 5px;
                        background: rgba(255, 255, 255, 0.0);
                        display: flex;
                        cursor: pointer;

                        .img {
                            padding: 0 5px 0 0;
                        }
                        .text {
                            margin: auto;
                        }
                    }
                }
                .delete-all {
                    button {
                        padding: 7px 8px 5px 6px;
                        font-weight: 500;
                        font-size: 16px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        font-family: $montserrat;
                        border: 0;
                        border: 2px solid #a99cde;
                        border-radius: 5px;
                        background: rgba(255, 255, 255, 0.0);
                        display: flex;
                        cursor: pointer;

                        .img {
                            padding: 0 5px 0 0;
                        }
                        .text {
                            margin: auto;
                        }
                    }
                }
            }

            .title-block {
                font-family: $montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 139%;
                letter-spacing: 0.12em;
                color: #FFFFFF;
                margin-left: 184px;
            }
            .container-content {
                margin: 56px 180px 64px 180px;

                .information {
                    display: flex;
                    justify-content: space-between;
                    .avatar {
                        margin-right: 31px;
                        img {
                            width: 77px;
                            height: 69px;
                        }
                    }

                    .info-text {
                        margin-right: 0;
                        width: 100%;
                        margin: auto 0;
                        margin-bottom: 5px;

                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                    }

                    .buttons-ac {
                        display: flex;
                        margin: auto;
                        margin-right: 10px;
                        margin-bottom: 0;
                        .accept {
                        }

                        .cancel {
                            margin-left: 41px;
                        }
                    }
                }

                .blue-line {
                    border: 1px solid #63B5E4;
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
            }
        }

        @media (max-width: 1200px) {
            .info-box {
                .title-block {
                    margin-left: 34px;
                }
                .container-content {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
        @media (max-width: 1024px) {
            .info-box {
                margin-right: 30px;
                margin-left: 30px;
            }
        }
        @media (max-width: 768px) {
            .info-box {
                .container-content {
                    .information {
                        .buttons-ac {
                            display: block;
                            .cancel {
                                margin-top: 20px;
                                margin-left: unset;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 576px) {
            .info-box {
                margin-bottom: 50px;
                padding-bottom: 1px;
                .buttons-block {
                    display: block;
                    width: 100%;
                    padding-right: unset;
                    .mark-read {
                        margin-right: unset;
                        button {
                            font-size: 14px;
                            margin: auto;
                        }
                    }
                    .delete-all {
                        margin-top: 16px;
                        button {
                            font-size: 14px;
                            margin: auto;
                        }
                    }
                }
                .title-block {
                    margin-top: 56px;
                }
                .container-content {
                    margin-left: 16px;
                    margin-right: 16px;
                    .information {
                       .info-text {
                           font-size: 14px;
                       }
                    }
                }
            }
        }
    }
}
