.placeabid {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        margin-bottom: 50px;

        .content-container {
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(4px);
            border-radius: 4px;
            width: 100%;
            margin: 65px 109px 59px 82px;

            .content-box {
                display: flex;
                padding-bottom: 61px;

                .left {
                    display: flex;
                    width: 100%;
                    margin-left: 32px;

                    .block-img {
                        li {
                            text-align: center;
                            margin-bottom: 40px;

                            border-bottom: 5px solid transparent;
                            padding-bottom: 2px;;

                            &:hover {
                                border-bottom: 5px solid #a99cde;
                                border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                                border-image-slice: 1;
                                //padding-bottom: 9px;
                            }
                        }

                        li.selected {
                            border-bottom: 5px solid #a99cde;
                            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                            border-image-slice: 1;
                        }
                    }

                    .cube {
                        margin: 200px auto;

                        #wrapD3Cube {
                            width: 350px;
                            height: 313px;
                            margin: 20px auto;
                            //background-color: #EEE;
                        }

                        #D3Cube {
                            width: 232px;
                            height: 232px;
                            top: 50px;
                            transform-style: preserve-3d;
                            -moz-transform-style: preserve-3d;
                            //-webkit-transform-style: preserve-3d;
                            // transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                            -moz-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                            // -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
                            margin: auto;
                            position: relative;
                            -moz-transform-style: preserve-3d;
                            transform-style: preserve-3d;
                            -webkit-transition: all 0.5s ease-in-out;
                            transition: all 0.5s ease-in-out;

                            transform: rotateX(
                                    -22deg) rotateY(
                                    142deg) rotateZ(
                                    4590deg) translateX(0px) translateY(0px) translateZ(0px);
                        }

                        #D3Cube > div {
                            position: absolute;
                            -webkit-transition: all 0.5s ease-in-out;
                            transition: all 0.5s ease-in-out;
                            width: 232px;
                            height: 232px;
                            float: left;
                            overflow: hidden;
                            opacity: 1;


                        }

                        #side1 {
                            transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116px);
                            background-color: #FFF;
                            //background-image: url('/images/explore1.png');
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }

                        #side2 {
                            transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }

                        #side3 {
                            transform: translateX(0px) translateY(0px) translateZ(116px);
                            -moz-transform: translateX(0px) translateY(0px) translateZ(116px);
                            -webkit-transform: translateX(0px) translateY(0px) translateZ(116px);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }

                        #side4 {
                            transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116px);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }

                        #side5 {
                            transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                            -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                            -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(116px);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }

                        #side6 {
                            transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                            -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(116px);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                }

                .right {
                    width: 100%;
                    margin-top: 67px;
                    margin-right: 32px;

                    .top-box {
                        display: flex;
                        justify-content: space-between;

                        .author {
                            display: flex;
                            justify-content: space-between;


                            .author-avatar {
                                padding-right: 13px;

                                img {
                                    width: 54px;
                                    height: 48px;
                                    border-radius: 1px;
                                }
                            }

                            .nick-follow {
                                display: block;
                                margin: auto;
                                margin-bottom: 10px;

                                .creator {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;

                                    letter-spacing: 0.12em;
                                    color: #FFFFFF;


                                }

                                .usernickname {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    margin-top: 5px;
                                    letter-spacing: 0.12em;
                                    color: #FFFFFF;
                                }
                            }
                        }

                        .prefix {
                            display: flex;
                            margin: auto 0;

                            .text {
                                padding: 6px 9px 7px 10px;
                                font-weight: 700;
                                font-size: 16px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                font-family: $montserrat;
                                position: relative;
                                margin-left: 17px;
                            }

                            .text::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 5px;
                                padding: 2px;
                                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                            }
                        }
                    }

                    .title-token {
                        font-family: $clash;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                        margin-top: 34px;
                        margin-bottom: 30px;
                    }

                    .prefix2 {
                        display: none;
                    }

                    .line-63B5E4 {
                        border: 1px solid #63B5E4;
                    }

                    .timercash {
                        display: flex;

                        .second {
                            display: block;
                            margin-top: 13px;

                            .current {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 139%;
                                letter-spacing: 0.12em;
                                color: #FFFFFF;
                            }

                            .price {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 139%;
                                letter-spacing: 0.12em;
                                color: #FFFFFF;
                                margin-top: 20px;
                                margin-bottom: 15px;
                            }

                        }

                        .second-right {
                            display: block;
                            margin-top: 13px;
                            margin-left: 116px;

                            .current {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 139%;
                                letter-spacing: 0.12em;
                                color: #FFFFFF;
                            }

                            .price {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 139%;
                                letter-spacing: 0.12em;
                                color: #FFFFFF;
                                margin-top: 20px;
                                margin-bottom: 15px;
                            }

                        }
                    }

                    .description {
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 139%;
                        letter-spacing: 0.12em;
                        color: #FFFFFF;
                        margin-top: 33px;
                    }

                    .quantity-box {
                        display: block;
                        margin-top: 40px;

                        .price-box-title {
                            display: flex;

                            .flex-box {
                                display: flex;

                                .minus {
                                    color: #FFFFFF;
                                    font-size: 30px;
                                    line-height: 18px;
                                    margin-right: 15px;
                                    font-weight: bolder;
                                    cursor: pointer;
                                }

                                .input {
                                    margin-right: 14px;

                                    input {
                                        width: 40px;
                                        height: 25px;
                                        font-family: $montserrat;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 139%;
                                        letter-spacing: 0.105em;
                                        background: #FFFFFF;
                                        border: 0;
                                        color: #BBBBBB;
                                        text-align: center;
                                    }
                                }

                                .plus {
                                    color: #FFFFFF;
                                    font-size: 30px;
                                    line-height: 24px;
                                    font-weight: bolder;
                                    cursor: pointer;
                                }
                            }

                            .quantity {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 139%;
                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                width: 129px;
                            }
                        }

                        .cols-box {
                            display: flex;

                            .price-box-cash {
                                display: flex;
                                margin: auto 0;
                                margin-top: 31px;

                                .price-title {
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 139%;
                                    letter-spacing: 0.105em;
                                    color: #FFFFFF;
                                    margin: auto 0;
                                    width: 129px;
                                }

                                .price-cash {
                                    display: flex;

                                    .price-input {
                                        margin-right: 8px;

                                        input {
                                            width: 111px;
                                            height: 39px;
                                            font-family: $montserrat;
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 139%;
                                            background: #FFFFFF;
                                            border: 0;
                                            padding-left: 6px;
                                            padding-right: 6px;
                                            text-align: center;
                                        }

                                        input::placeholder {
                                            color: #BBBBBB;
                                            font-family: $montserrat;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            //line-height: 139%;
                                            //letter-spacing: 0.105em;
                                            background: #FFFFFF;
                                            text-align: left;
                                        }
                                    }

                                    .button-currencies3 {
                                        font-family: $montserrat;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 139%;
                                        display: block;
                                        align-items: center;
                                        background: #FFFFFF;
                                        padding: 9px 5px 9px 5px;
                                        color: #BBBBBB;
                                        width: 126px;
                                        height: 39px;
                                        cursor: pointer;

                                        .button-text {
                                            cursor: pointer;
                                        }
                                    }

                                    .button-currencies-list3 {
                                        display: none;
                                        position: absolute;
                                        background: white;
                                        z-index: 1;
                                        font-family: $montserrat;
                                        font-weight: 400;
                                        line-height: 139%;
                                        width: 100%;
                                        font-size: 16px;
                                        letter-spacing: 0.105em;
                                        top: 0;
                                        left: 0;
                                        padding: 10px 0 0 6px;
                                        cursor: pointer;

                                        li {
                                            font-family: $montserrat;
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 15px;
                                            line-height: 139%;
                                            letter-spacing: 0.105em;
                                            color: #BBBBBB;
                                            padding-bottom: 8px;
                                            padding-top: 8px;
                                        }

                                        .color_b {
                                            color: #000056;
                                            padding-left: 8px;
                                        }

                                        .line-63B5E4 {
                                            border: 1px solid #63B5E4;
                                            margin-right: 12px;
                                            margin-left: 6px;
                                        }
                                    }

                                    .actions {
                                        margin-left: 22px;

                                        button {
                                            padding: 8px 29px;
                                            font-size: 18px;

                                            letter-spacing: 0.105em;
                                            color: #FFFFFF;
                                            background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                                            text-transform: uppercase;
                                            font-family: $clash;
                                            font-weight: 500;
                                            border: 0;
                                            cursor: pointer;
                                            border-radius: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .bids-title {
                        font-family: $montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 139%;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        margin-top: 70px;
                        margin-bottom: 10px;

                        border-bottom: 5px solid #a99cde;
                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                        border-image-slice: 1;
                        width: 60px;
                    }

                    .bids-line {
                        display: flex;
                        margin-top: 15px;
                        margin-bottom: 15px;

                        .avatar {
                            padding-right: 18px;

                            img {
                                width: 44px;
                                height: 40px;
                            }
                        }

                        .info {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 139%;
                            color: #FFFFFF;
                            margin: auto 0;
                            margin-right: 27px;
                        }


                        .cash {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 139%;
                            color: #FFFFFF;
                            margin: auto 0;
                            margin-right: 32px;
                        }

                        .deal {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 139%;
                            color: #63B5E4;
                            margin: auto 0;
                        }

                    }
                }
            }
        }


        @media (max-width: 1300px) {
            .content-container {
                .content-box {
                    display: block;
                    padding: 0 17px 50px 17px;

                    .left {
                        display: flex;
                        width: 100%;
                        flex-direction: column-reverse;
                        margin-left: unset;

                        .block-img {
                            display: flex;
                            justify-content: space-between;
                        }

                        .cube {
                            margin: 50px auto;
                        }
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .content-container {
                margin: 43px 15px 50px 15px;

                .content-box {
                    .left {
                        .block-img li {
                            img {
                                width: 54px;
                                height: 54px;
                            }
                        }
                    }

                    .right {
                        .timercash {
                            display: block;

                            .second {
                                display: flex;

                                .current {
                                    font-size: 16px;
                                    margin-right: 25px;
                                }

                                .price {
                                    margin-top: unset;
                                    font-size: 18px;
                                    font-weight: 700;
                                }
                            }

                            .second-right {
                                display: flex;
                                margin-left: unset;

                                .current {
                                    font-size: 16px;
                                    margin-right: 25px;
                                }

                                .price {
                                    margin-top: unset;
                                    font-size: 18px;
                                    font-weight: 700;
                                }
                            }
                        }

                        .quantity-box {
                            .cols-box {
                                .price-box-cash {
                                    .price-cash {
                                        display: block;

                                        .actions {
                                            margin-left: unset;
                                            margin-top: 54px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 576px) {
            .content-container {
                .content-box {
                    .left {
                        .cube {
                            #wrapD3Cube {
                                width: 300px;
                                height: 263px;
                                margin: unset;
                            }

                            #D3Cube {
                                width: 182px;
                                height: 182px;

                                div {
                                    width: 182px;
                                    height: 182px;
                                }
                            }

                            #side1 {
                                transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side2 {
                                transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side3 {
                                transform: translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side4 {
                                transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side5 {
                                transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(91px);
                            }

                            #side6 {
                                transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                                -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(91px);
                            }
                        }

                        .block-img {
                            li {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .right {
                        .quantity-box {
                            .cols-box {
                                .price-box-cash {
                                    .price-title {
                                        width: 65px;
                                        margin: unset;
                                    }

                                    .price-cash {
                                        .button-currencies3 {
                                            width: unset;
                                        }

                                        .button-currencies-list3 {
                                            letter-spacing: unset;

                                            li {
                                                letter-spacing: unset;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .top-box {
                            .prefix {
                                display: none;
                            }
                        }

                        .title-token {
                            margin-bottom: 15px;
                        }

                        .prefix2 {
                            display: flex;
                            margin: auto 0;

                            .text {
                                padding: 6px 9px 7px 10px;
                                font-weight: 700;
                                font-size: 16px;

                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                font-family: $montserrat;
                                position: relative;
                                margin-right: 17px;
                                margin-bottom: 39px;
                            }

                            .text::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border-radius: 5px;
                                padding: 2px;
                                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                                linear-gradient(#fff 0 0);
                                -webkit-mask-composite: destination-out;
                                mask-composite: exclude;
                            }
                        }

                        .bids-line {
                            flex-wrap: wrap;
                            .avatar {
                                padding-right: unset;
                                margin-right: 10px;
                                order: 2;
                            }

                            .info {
                                font-size: 16px;
                                margin-right: 17px;
                                order: 2;
                            }

                            .cash {
                                font-size: 16px;
                                margin-right: unset;
                                order: 2;
                            }
                            .deal {
                                order: 1;
                                width: 100%;
                                justify-content: end;
                                display: flex;
                            }
                        }

                        .timercash {
                            .second-right {
                                .current {
                                    margin-right: 14px;
                                }
                            }
                        }
                    }

                }
            }

        }

    }
}
