.profileauction {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    *{
        margin:0;
        padding:0;
        list-style:none;
        text-decoration:none;
    }
    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        margin-bottom: 50px;
        //justify-content: space-between;
    }

    .profile-menu {
        width: 334px;
        padding-top: 127px;
        padding-left: 82px;
        margin-right: 102px;
        a {
            text-decoration: none;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            border-bottom: 5px solid transparent;
            padding-bottom: 2px;
            color: #FFFFFF;
        }
        a:hover {
            border-bottom: 5px solid #a99cde;
            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
            border-image-slice: 1;
            //padding-bottom: 9px;
        }
        a.selected {
            border-bottom: 5px solid #a99cde;
            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
            border-image-slice: 1;
            padding-bottom: 9px;
        }

        li {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;

            display: flex;
            letter-spacing: 0.105em;
            color: #FFFFFF;
            padding-bottom: 28px;
        }
    }
    .profile-menu-mobile {
        display: none;
    }
    .profile-box {
        min-width: calc(100% - 437px);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(4px);
        border-radius: 18px;
        margin-top: 97px;
        margin-bottom: 249px;
        margin-right: 103px;
        display: flex;
        flex-wrap: wrap;
    }
    .photo {
        padding-left: 32px;
        padding-top: 27px;
        .elipse {
            position: absolute;
            top: 279px;
            left: 209px;
        }
        .camera {
            position: absolute;
            top: 287px;
            left: 217px;
        }
    }
    .info-box {
        width: calc(100% - 231px);
        //width: 100%;
        margin-bottom: 27px;

        .top-box {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 30px;
            padding-left: 52px;
            padding-right: 37px;

            .username {
                font-family: $clash;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                //line-height: 139%;
                letter-spacing: 0.105em;
                display: table;
                background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .actions {
                button {
                    padding: 7px 8px 5px 6px;
                    font-weight: 500;
                    font-size: 18px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                    border: 0;
                    border: 2px solid #a99cde;
                    border-radius: 5px;
                    background: rgba(255, 255, 255, 0.0);
                    display: flex;
                    cursor: pointer;

                    .pencil {
                        padding: 0 5px 0 0;
                    }
                    .edit-text {
                        margin: auto;
                    }
                }
            }
        }
        .photo-mobile {
            display: none;
        }
        .username-mobile {
            display: none;
        }
        .counters {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;

            letter-spacing: 0.105em;
            text-align: center;
            color: #FFFFFF;
            display: flex;
            padding-left: 52px;
            margin-top: 41px;
            .count-box {
                padding-right: 55px;
                .text {
                    margin-top: 5px;
                }
            }
        }
        .descriptions {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 139%;
            letter-spacing: 0.105em;
            color: #FFFFFF;
            padding-left: 53px;
            padding-right: 90px;
            margin-top: 76px;
            max-width: fit-content;
            p {
                margin-bottom: 43px;
            }
        }
    }

    .subscribers-block {
        width: 100%;
        margin-right: 45px;
        margin-left: 45px;
        margin-bottom: 50px;
        .line-63B5E4 {
            border: 1px solid #63B5E4;
            margin-top: 76px;
        }
        .line-63B5E4-2 {
            border: 1px solid #63B5E4;
        }
        .buttons-switch {
            display: flex;
            margin-bottom: 76px;
            .actions {
                width: 100%;
                button {
                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                    padding: 9px 8px 7px 6px;
                    font-weight: 500;
                    font-size: 24px;
                    width: 100%;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                    border: 0;
                    display: flex;
                    cursor: pointer;

                    .edit-text {
                        margin: auto;
                    }
                }
            }
            .actions-2 {
                width: 100%;
                button {
                    padding: 7px 8px 5px 6px;
                    font-weight: 600;
                    font-size: 24px;
                    width: 100%;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                    border: 0;
                    border: 2px solid #a99cde;
                    border-radius: 1px;
                    background: rgba(255, 255, 255, 0.0);
                    display: flex;
                    cursor: pointer;

                    justify-content: center;
                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    .edit-text {
                        margin: auto;
                    }
                }
            }
        }
        .content {
            display: flex;
            margin-top: 76px;
            .photolot {
                margin-right: 20px;
                img {
                    width: 359px;
                    height: 259px;
                    border-radius: 10px;
                }
            }
            .text-info {
                font-family: $montserrat;
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 139%;
                letter-spacing: 0.105em;
                color: #FFFFFF;
                .text {
                    margin-bottom: 11px;
                    br {
                        display: none;
                    }
                }
            }
        }

    }




    @media (max-width: 1270px) {
        .profile-box {
            min-width: unset;
        }
    }
    @media (max-width: 1200px) {
        .profile-menu {
            width: 200px;
            padding-left: 18px;
            margin-right: 45px;
        }
        .profile-box {
            min-width: calc(100% - 218px);
            //margin-right: unset;
            margin-bottom: unset;
        }
    }
    @media (max-width: 1024px) {
        .container {
            display: block;
            margin: 0 100px;
        }
        .profile-menu {
            display: none;
        }
        .profile-menu-mobile {
            display: block;
            position: relative;
            margin: 31px 0;
            background: rgba(255, 255, 255, 0.2);
            border-bottom: 0;
            height: 37px;
            border-radius: 5px;

            ul > li {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;

                color: #FFFFFF;
                cursor: pointer;
                padding-top: 23px;

                a {
                    text-decoration: none;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;

                    color: #FFFFFF;
                    cursor: pointer;
                }
                a.selected {
                    border-bottom: 5px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                    border-image-slice: 1;
                    padding-bottom: 3px;
                }
                .polygon-menu {
                    transform:rotateX(180deg);
                    margin: auto 0;
                    margin-top: 0;
                }
            }

            .pmm-button {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;

                color: #FFFFFF;
                cursor: pointer;
                padding: 8px 14px 7px 19px;
                position: relative;
                display: flex;
                justify-content: space-between;
            }

            .pmm-button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 5px;
                padding: 2px;
                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                height: 35px;
            }

            .profile-menu-list {
                display: none;
                position: absolute;
                width: 100%;
                border-radius: 5px;
                padding: 0 0 30px 19px;
                z-index: 1;

                left: 0;
                top: 0;
                border: 2px solid #a99cde;
                border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                border-image-slice: 1;
                background: rgba(27, 24, 52, 0.8);
            }
            //.profile-menu-list::before {
            //    content: "";
            //    position: absolute;
            //    top: 0;
            //    left: 0;
            //    right: 0;
            //    bottom: 0;
            //    border-radius: 5px;
            //    padding: 2px;
            //    background: linear-gradient(45deg, #BC96DD, #67B4E4);
            //    -webkit-mask: linear-gradient(#fff 0 0) content-box,
            //    linear-gradient(#fff 0 0);
            //    -webkit-mask-composite: destination-out;
            //    mask-composite: exclude;
            //}
        }
        .profile-box {
            margin-top: 0;
            margin-bottom: 69px;
            margin-right: unset;
            .subscribers-block {
                .buttons-switch {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 992px) {
        .container {
            margin: 0 18px;
        }
        .info-box {
            .counters {
                .count-box {
                    padding-right: 5%;
                }
            }
            .descriptions {
                padding-right: 18px;
            }
        }
    }
    @media (max-width: 768px) {
        .profile-box {
            .photo {
                display: none;
            }
            .info-box {
                width: 100%;
                .top-box {
                    padding-top: 21px;
                    padding-left: unset;
                    padding-right: unset;
                    .username {
                        display: none;
                    }
                    .actions {
                        width: 100%;
                        button {
                            margin: 0 auto;
                            margin-right: 14px;
                        }
                    }
                }
                .photo-mobile {
                    position: relative;
                    display: inline-block;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 32px;
                }

                .photo-mobile img {
                    vertical-align: middle;
                }
                .photo-mobile:after {
                    content: "";
                    background: #FFFFFF url(/images/camera.png) no-repeat;
                    width: 40px;
                    height: 39px;
                    position: absolute;
                    top: 88.5%;
                    left: 85%;
                    background-position-x: 6px;
                    background-position-y: 6px;
                    border-radius: 50%;
                }
                .photo-mobile:before {
                    content: "";
                    width: 44px;
                    height: 43px;
                    position: absolute;
                    top: 88%;
                    left: 84%;
                    border-radius: 50%;
                    background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                }

                .username-mobile {
                    font-family: $clash;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 24px;
                    //line-height: 139%;
                    letter-spacing: 0.105em;
                    display: table;
                    background: linear-gradient(90deg, #C094DC 40%, #63B5E4 55%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: center;
                    width: 100%;
                    margin-top: 50px;
                }

                .counters {
                    justify-content: space-around;
                    padding-left: unset;
                    margin-top: 50px;
                    .count-box {
                        padding-right: unset;
                        .count {
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            letter-spacing: 0.105em;
                        }
                        .text {
                            font-family: $montserrat;
                            font-style: normal;
                            font-size: 12px;
                            letter-spacing: 0.105em;
                        }
                    }
                }

                .descriptions {
                    font-size: 16px;
                    margin-top: 34px;
                    padding-left: 20px;
                    p {
                        margin-bottom: 28px;
                    }
                }
            }

            .subscribers-block {
                margin-right: 14px;
                margin-left: 14px;
                .content {
                    display: block;
                    .photolot {
                        text-align: center;
                    }
                    .text-info {
                        margin-top: 50px;
                        .text {
                            br {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        .info-box {
            display: none;
        }
        .subscribers-block {

            .buttons-switch {
                margin-top: 50px;
            }
            .content {
                .photolot {
                    margin-right: unset;
                    img {
                        max-width:100%;
                        height:auto;
                    }
                }
                .text-info {
                    font-size: 16px;
                }
            }
        }
    }
}
