.profilefinancewithdrawal {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;

    *{
        margin:0;
        padding:0;
        list-style:none;
        text-decoration:none;
    }
    .container {
        max-width: 1440px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        //justify-content: space-between;
    }

    .profile-menu {
        width: 334px;
        padding-top: 127px;
        padding-left: 82px;
        a {
            text-decoration: none;
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            border-bottom: 5px solid transparent;
            padding-bottom: 2px;
            color: #FFFFFF;
        }
        a:hover {
            border-bottom: 5px solid #a99cde;
            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
            border-image-slice: 1;
            //padding-bottom: 9px;
        }
        a.selected {
            border-bottom: 5px solid #a99cde;
            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
            border-image-slice: 1;
            padding-bottom: 9px;
        }

        li {
            font-family: $montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;

            display: flex;
            letter-spacing: 0.105em;
            color: #FFFFFF;
            padding-bottom: 28px;
        }
    }
    .profile-menu-mobile {
        display: none;
    }

    .withdraw-box {
        min-width: calc(100% - 437px);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(4px);
        border-radius: 18px;
        margin-top: 97px;
        margin-bottom: 249px;
        margin-right: 103px;
        display: flex;
        .arrow-box {
            display: flex;
            padding: 39px 0 440px 49px;
            .arrow {
                margin-right: 10px;
                img {
                    width: 28px;
                    transform: rotate(180deg);
                    filter: invert(1);
                }
            }
            .text {
                color: #FFFFFF;
                font-family: $clash;
                font-size: 14px;
                line-height: 189%;
                letter-spacing: 0.105em;
                font-weight: 400;
            }
        }

        form {
            margin-top: 90px;

                .title {
                    font-size: 24px;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;

                    margin-right: 40px;
                }

                .box {
                    margin-top: 43px;
                    .input {
                        display: flex;
                        border: 1px solid #a99cde;
                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                        border-image-slice: 1;
                        padding: 11px 45px;
                        width: 380px;
                        margin-bottom: 27px;
                        font-family: $montserrat;
                        color: #FFFFFF;

                        &.second {
                            margin-bottom: 0;
                        }

                        input {
                            background: transparent;
                            border: none;
                            width: 100%;
                            color: white;

                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;

                            letter-spacing: 0.105em;
                        }
                    }
                    .choose-menu {
                        width: 380px;
                        position: relative;
                        .choose {
                            display: flex;
                            justify-content: space-between;
                            text-decoration: none;
                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            margin-bottom: 27px;
                            color: #FFFFFF;
                            cursor: pointer;
                            padding: 11px 16px 10px 45px;
                            position: relative;
                            width: 380px;

                            button {
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 139%;
                                letter-spacing: 0.105em;
                                color: #FFFFFF;
                                border: 0;
                                cursor: pointer;
                                background: transparent;
                            }
                        }

                        .choose-list {
                            display: none;

                            position: absolute;
                            width: 100%;
                            border-radius: 5px;
                            padding: 0 0 5px 48px;
                            z-index: 1;

                            left: 0;
                            top: 0;
                            background: rgba(27, 24, 52, 0.8);

                            border: 2px solid #a99cde;
                            border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                            border-image-slice: 1;

                            li {
                                text-decoration: none;
                                font-family: $montserrat;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;

                                color: #FFFFFF;
                                cursor: pointer;
                                padding-top: 8px;
                                padding-bottom: 8px;

                                a {
                                    text-decoration: none;
                                    font-family: $montserrat;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 18px;

                                    color: #FFFFFF;
                                    cursor: pointer;
                                }
                                a.selected {
                                    border-bottom: 5px solid #a99cde;
                                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                                    border-image-slice: 1;
                                    padding-bottom: 3px;
                                }
                                .polygon-menu {
                                    transform:rotateX(180deg);
                                    margin: auto 0;
                                    margin-top: 0;
                                }
                            }
                            .choose2 {
                                font-size: 16px;
                                font-weight: 400;
                                padding-top: 9px;
                                display: flex;
                                justify-content: space-between;
                                padding-right: 14px;
                            }
                        }

                        //.choose-list::before {
                        //    content: "";
                        //    position: absolute;
                        //    top: 0;
                        //    left: 0;
                        //    right: 0;
                        //    bottom: 0;
                        //    border-radius: 5px;
                        //    padding: 2px;
                        //    background: linear-gradient(45deg, #BC96DD, #67B4E4);
                        //    -webkit-mask: linear-gradient(#fff 0 0) content-box,
                        //    linear-gradient(#fff 0 0);
                        //    -webkit-mask-composite: destination-out;
                        //    mask-composite: exclude;
                        //}

                        .choose::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 1px;
                            padding: 1px;
                            background: linear-gradient(45deg, #BC96DD, #67B4E4);
                            -webkit-mask: linear-gradient(#fff 0 0) content-box,
                            linear-gradient(#fff 0 0);
                            -webkit-mask-composite: destination-out;
                            mask-composite: exclude;
                        }

                        .line-63B5E4 {
                            border: 1px solid #63B5E4;
                            margin-right: 45px;
                        }
                    }
                }

                .actions {
                    //text-align: center;
                    margin-top: 66px;
                    margin-bottom: 43px;

                    button {
                        padding: 13px 41px;
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }

    }



    @media (max-width: 1270px) {
        .withdraw-box {
            min-width: unset;
        }
    }
    @media (max-width: 1200px) {
        .profile-menu {
            width: 200px;
            padding-left: 18px;
        }
        .withdraw-box {
            min-width: calc(100% - 218px);
            margin-right: unset;
            margin-bottom: unset;
        }
    }
    @media (max-width: 1024px) {
        .container {
            display: block;
            margin: 0 100px;
        }
        .profile-menu {
            display: none;
        }

        .profile-menu-mobile {
            display: block;
            position: relative;
            margin: 31px 0;
            background: rgba(255, 255, 255, 0.2);
            border-bottom: 0;
            height: 37px;
            border-radius: 5px;

            ul > li {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;

                color: #FFFFFF;
                cursor: pointer;
                padding-top: 23px;

                a {
                    text-decoration: none;
                    font-family: $montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;

                    color: #FFFFFF;
                    cursor: pointer;
                }
                a.selected {
                    border-bottom: 5px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                    border-image-slice: 1;
                    padding-bottom: 3px;
                }
                .polygon-menu {
                    transform:rotateX(180deg);
                    margin: auto 0;
                    margin-top: 0;
                }
            }

            .pmm-button {
                text-decoration: none;
                font-family: $montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;

                color: #FFFFFF;
                cursor: pointer;
                padding: 8px 14px 7px 19px;
                position: relative;
                display: flex;
                justify-content: space-between;
            }

            .pmm-button::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 5px;
                padding: 2px;
                background: linear-gradient(45deg, #BC96DD, #67B4E4);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                height: 35px;
            }

            .profile-menu-list {
                display: none;
                position: absolute;
                width: 100%;
                border-radius: 5px;
                padding: 0 0 30px 19px;
                z-index: 1;

                left: 0;
                top: 0;
                border: 2px solid #a99cde;
                border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                border-image-slice: 1;
                background: rgba(27, 24, 52, 0.8);
            }
            //.profile-menu-list::before {
            //    content: "";
            //    position: absolute;
            //    top: 0;
            //    left: 0;
            //    right: 0;
            //    bottom: 0;
            //    border-radius: 5px;
            //    padding: 2px;
            //    background: linear-gradient(45deg, #BC96DD, #67B4E4);
            //    -webkit-mask: linear-gradient(#fff 0 0) content-box,
            //    linear-gradient(#fff 0 0);
            //    -webkit-mask-composite: destination-out;
            //    mask-composite: exclude;
            //}
        }
        .withdraw-box {
            margin-top: 50px;
            margin-bottom: 69px;
        }
    }
    @media (max-width: 992px) {
        .container {
            margin: 0 18px;
        }
    }
    @media (max-width: 768px) {
        .withdraw-box {
            display: block;
            padding-left: 19px;
            padding-right: 19px;
            .arrow-box {
                padding: 39px 0 0 0;
            }
            form {
                margin-top: 40px;
                .title {
                    font-size: 18px;
                }
                .actions {
                    padding-bottom: 50px;
                }
            }
        }
    }
    @media (max-width: 576px) {
        .withdraw-box {
            form {
                .box {
                    .input {
                        width: 100%;
                    }
                    .choose-menu {
                        width: 100%;
                        .choose {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
