.refillwallet {
    position: relative;
    //overflow: hidden;

    .container {
        max-width: 1440px;
        padding: 0 102px 50px 102px;
        position: relative;
        margin: 0 auto;
        //overflow: hidden;
        min-height: 100vh;
    }

    .header {
        display: flex;
        padding-top: 40px;
        padding-bottom: 139px;
        justify-content: unset;

        .logo {
            margin-right: 16px;
        }

        .title {
            font-size: 28px;

            margin: auto 0;
            color: white;
            font-family: $clash;
            letter-spacing: 0.32em;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 122px;

        .form {
            padding: 0 0 38px 0;
            border-radius: 30px;
            width: 930px;
            background: rgba(255, 255, 255, 0.15);
            .arrow-box {
                display: flex;
                padding: 36px 0 0 23px;
                .arrow {
                    margin: auto 10px;
                    img {
                        width: 28px;
                        transform: rotate(180deg);
                        filter: invert(1);
                    }
                }
                .text {
                    color: #FFFFFF;
                    font-family: $clash;
                    font-size: 14px;
                    line-height: 189%;
                    letter-spacing: 0.105em;
                }
            }
            form {
                .box {
                    padding: 36px 0 41px 63px;
                }
                .title {
                    font-size: 24px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $clash;
                    font-weight: 500;
                    padding: 0 40px 0 0;
                }

                .subtitle {
                    padding-top: 49px;
                    font-size: 18px;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                    padding-right: 70px;
                    font-weight: 400;
                    line-height: 139%;
                }

                .qrcode {
                    text-align: center;
                    background: url("/images/qrrectangle.png");
                    height: 234px;
                    background-repeat: no-repeat;
                    background-position: center;
                    img {
                        margin-top: 44px;
                    }
                }

                .actions-verification {
                    margin-top: 45px;
                    text-align: center;

                    button {
                        padding: 13px 57px;
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }
        }
    }


    @media (max-width: 1400px) {
        .content {
            .form {
                width: 100%;
            }
        }
    }
    @media (max-width: 992px) {
        .header {
            padding-bottom: 30px;
        }
        .container {
            padding: 0 15px 50px 15px;
        }
        .content {
            padding: 0;
            .form {
                width: 100%;

                form {
                    width: 100%;
                    .box {
                        padding: 36px 0 41px 30px;
                        .subtitle {
                            padding-right: 15px;
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
        @media (max-width: 576px) {
            .container {
                padding: 0 15px 50px 15px;
            }
            .content {
                padding: 0;
                .form {
                    width: 97%;
                    form {
                        padding: 30px;
                        .box {
                            padding: 0 0 41px 0;
                            .subtitle {
                                //padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
