::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF;
}

.registration {
    position: relative;
    //overflow: hidden;

    .background_tl {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(102, 179, 228, 0.69);
        filter: blur(300px);
        width: 414px;
        height: 367px;
    }

    .background_tr {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(102, 179, 228, 0.5);
        filter: blur(300px);
        width: 457px;
        height: 479px;
    }

    .background_br {
        position: absolute;
        bottom: 0;
        right: 55px;
        background: rgba(187, 148, 221, 0.75);
        filter: blur(259px);
        width: 675px;
        height: 574px;
    }

    .container {
        max-width: 1440px;
        padding: 0 90px 50px 90px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        min-height: 100vh;
    }

    .header {
        display: flex;
        padding-top: 40px;
        padding-bottom: 51px;
        justify-content: unset;

        .logo {
            margin-right: 16px;
        }

        .title {
            font-size: 28px;

            margin: auto 0;
            color: white;
            font-family: $clash;
            letter-spacing: 0.32em;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form {
            margin: 0 auto;
            border-radius: 30px;
            width: 592px;
            background: rgba(255, 255, 255, 0.15);

            .arrow-box {
                display: flex;
                margin: 38px 0 0 29px;
                .arrow {
                    margin: auto 10px;
                    img {
                        width: 28px;
                        transform: rotate(180deg);
                        filter: invert(1);
                    }
                }
                .text {
                    color: #FFFFFF;
                    font-family: $clash;
                    font-size: 14px;
                    line-height: 189%;
                    letter-spacing: 0.105em;
                }
            }

            .hr {
                text-align: center;
                font-size: 14px;

                letter-spacing: 0.105em;
                color: #FFFFFF;
                margin: 37px 108px 33px 108px;
                position: relative;
                font-family: $montserrat;
                font-weight: 400;

                &:after {
                    content: " ";
                    position: absolute;
                    height: 1px;
                    top: 50%;
                    background: white;
                    left: 0;
                    width: calc(50% - 100px);
                }

                &:before {
                    content: " ";
                    position: absolute;
                    height: 1px;
                    top: 50%;
                    background: white;
                    right: 0;
                    width: calc(50% - 100px);
                }
            }

            .sign_with {
                display: flex;
                padding: 0;
                margin-bottom: 55px;
                justify-content: center;

                .logo {
                    width: 38px;
                    height: 38px;
                    margin-right: 55px;
                    background: white;
                    display: flex;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                    }
                }

                .logo1 {
                    width: 38px;
                    height: 38px;
                    background: white;
                    display: flex;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                    }
                }
            }

            form {
                //padding: 10px 102px;

                .title {
                    font-size: 24px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $clash;
                    text-align: center;
                    padding-bottom: 27px;
                }

                .box {
                    padding: 0 107px;
                    .input {
                        display: flex;
                        border: 1px solid #a99cde;
                        border-image: linear-gradient(90deg, rgba(192, 148, 220, 1) 25%, rgba(99, 181, 228, 1) 100%, rgba(99, 181, 228, 1) 100%);
                        border-image-slice: 1;
                        padding: 17px 45px;
                        width: 100%;
                        margin-bottom: 16px;
                        font-family: $montserrat;
                        color: #FFFFFF;

                        &.second {
                            margin-bottom: 0;
                        }

                        input {
                            background: transparent;
                            border: none;
                            width: 100%;
                            color: white;

                            font-family: $montserrat;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;

                            letter-spacing: 0.105em;
                        }
                    }
                }

                .age {
                    margin-top: 35px;
                    display: flex;
                    padding: 0 100px 0 55px;

                    input {
                        width: 100px;
                        height: 20px;
                    }

                    .text {
                        font-size: 16px;
                        line-height: 139%;
                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        margin: auto 0;
                        font-family: $montserrat;
                        padding: 0 0 0 15px;
                        font-weight: normal;
                    }
                }

                .actions {
                    text-align: center;
                    margin-top: 35px;

                    button {
                        padding: 13px 41px;
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        cursor: pointer;
                    }
                }
            }
        }


        .background_tl, .background_tr, .background_br {
            display: none;
        }
    }
    @media (max-width: 992px) {

        .container {
            padding: 0 15px 50px 15px;
        }
        .content {
            .form {
                form {
                }
            }
        }
    }

    @media (max-width: 576px) {

        .container {
            padding: 0 15px 50px 15px;
        }
        .content {
            .form {
                form {
                    .box {
                        padding: 0 30px;
                    }
                    .age {
                        padding: 0 30px 0 20px;
                    }
                }
                .hr {
                    margin: 37px 30px 33px 30px;
                }
            }

        }
    }
}


















