.restore {
    position: relative;
    //overflow: hidden;

        .background1 {
            height: 100%;
            //position: absolute;
            background-position-y: 160px;
            background-position-x: 210px;
            background-size: 1230px;
            width: 100%;
            background-repeat: no-repeat;
            left: 0;
            background-image: url("/images/Group38.png");
            top: 0;
        }

    .background_tl {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(102, 179, 228, 0.69);
        filter: blur(300px);
        width: 414px;
        height: 367px;
    }

    .background_tr {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(102, 179, 228, 0.5);
        filter: blur(300px);
        width: 457px;
        height: 479px;
    }

    .background_br {
        position: absolute;
        bottom: 0;
        right: 55px;
        background: rgba(187, 148, 221, 0.75);
        filter: blur(259px);
        width: 675px;
        height: 574px;
    }

    .container {
        max-width: 1440px;
        padding: 0 102px 222px 102px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        //min-height: 100vh;
    }

    .header {
        display: flex;
        padding-top: 40px;
        padding-bottom: 212px;
        justify-content: unset;

        .logo {
            margin-right: 16px;
        }

        .title {
            font-size: 28px;

            margin: auto 0;
            color: white;
            font-family: $clash;
            letter-spacing: 0.32em;
            font-weight: bold;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form {
            form {
                padding: 75px 52px 14px 53px;
                border-radius: 30px;
                //padding: 40px 52px;
                width: 486px;
                background: rgba(255, 255, 255, 0.15);

                .title {
                    font-size: 24px;

                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $clash;
                    font-weight: 500;
                }

                .subtitle {
                    padding-top: 37px;
                    padding-bottom: 37px;
                    font-size: 18px;
                    letter-spacing: 0.105em;
                    color: #FFFFFF;
                    font-family: $montserrat;
                    font-weight: 400;
                    line-height: 139%;
                }

                .input {
                    display: flex;
                    border: 1px solid #a99cde;
                    border-image: linear-gradient(90deg, rgba(192,148,220,1) 25%, rgba(99,181,228,1) 100%, rgba(99,181,228,1) 100%);
                    border-image-slice: 1;
                    padding: 17px;
                    width: 100%;
                    //margin-bottom: 38px;
                    font-family: $montserrat;

                    &.second {
                        margin-bottom: 0;
                    }

                    .logo {
                        width: 20px;
                        margin-right: 15px;
                        display: flex;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            margin: auto;
                        }
                    }

                    input {
                        background: transparent;
                        border: none;
                        width: 100%;
                        color: white;
                        font-family: $montserrat;
                        letter-spacing: 0.105em;
                        font-weight: 400;
                    }
                }

                .actions {
                    text-align: center;
                    margin-top: 57px;

                    button {
                        padding: 13px 32px;
                        font-size: 24px;

                        letter-spacing: 0.105em;
                        color: #FFFFFF;
                        background: linear-gradient(90deg, #C094DC 0%, #63B5E4 100%);
                        text-transform: uppercase;
                        font-family: $clash;
                        border: 0;
                        cursor: pointer;
                    }
                }
                    .back-tl {
                        margin: 46px 0 0 0;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 600;
                        letter-spacing: 0.105em;
                        color: #63B5E4;
                        font-family: $montserrat;
                    }
            }
        }
    }

    @media (max-width: 992px) {
        .header {
            padding-bottom: 30px;
        }
        .background {
            left: 0;
            opacity: 0.4;
        }
        .content {
            .form {
                width: 100%;

                form {
                    width: 100%;
                }
            }
        }
        .background1, .background_tl, .background_tr, .background_br {
            display: none;
        }
    }
    @media (max-width: 576px) {

        .background1 {
            display: none;
        }
        .container {
            padding: 0 15px 50px 15px;
            .header {
                padding-bottom: 30px;
            }
        }
        .content {
            .form {
                width: 100%;
                form {
                    padding: 30px;
                }
            }
        }
    }
}

























//.restore {
//    position: relative;
//    overflow: hidden;
//
//    .background1 {
//        height: 100%;
//        position: fixed;
//        width: 100%;
//        background-repeat: no-repeat;
//        background-position: center;
//        left: 120px;
//        background-image: url("/images/Group38.png");
//        top: 0;
//    }
//
//    .back-tl {
//        margin: 50px 0 0 0;
//        text-align: center;
//        font-size: 18px;
//
//        letter-spacing: 0.105em;
//        color: #63B5E4;
//        font-family: $montserrat;
//    }
//
//    .title1 {
//        font-size: 24px;
//
//        letter-spacing: 0.105em;
//        color: #FFFFFF;
//        font-family: $clash;
//    }
//
//}
//
//@media (max-width: 576px) {
//    .login {
//        .container {
//            .header {
//                padding-bottom: 30px;
//            }
//        }
//    }
//}
